[2016-11-08 20:29] orionthemes commented on #307
You are right, there is no such issue on the fresh installation, just on our demo import...
What should I look for in post meta table, to just delete this, not the whole table?
Creating a demo from scratch isn't really a good option.

Thank you very much for the great support.

[2016-11-08 20:43] Misplon commented on #307
Please, try reverting back to the WP editor. Go to Pages > Blog, click Revert to Editor and then clear any remaining Page Builder grid HTML that is moved to the Text tab. Then, save. That should then be how a page looks before a user clicks on the Page Builder tab. Let us know how that goes.

[2016-11-08 20:46] Misplon commented on #307
On another note, you could also look at supporting the Page Builder Post Loop widget which looks for templates as follows:

*-loop.php
loop-*.php

* is any string.

The assigned posts page has the disadvantage of not rendering content. Using the Post Loop widget is a way around this as the user can place content above, below or on the sides of the loop. You can see Vantage add loops in this patter

[2016-11-08 22:05] orionthemes commented on #307
We tried to revert back to editor several times and this is what keeps happening:
https://jumpshare.com/v/xXdA5tqOanBB3yMGLXNR

We will check out the Post Loop widget. Thanks.

[2016-11-09 12:55] AlexGStapleton commented on #276
This was resolved with the recent padding field change.

[2016-11-09 12:55] #276 closed

[2016-11-09 17:19] Misplon commented on #307
We're unsure why this is happening. Please, could you try some basic tests:

* Does this happen with all other plugins deactivated?
* Does this happen with another theme like Twenty Sixteen?

If all else fails, you could remove this action:

`add_action('wp_footer', 'siteorigin_panels_print_inline_css');`

from within `after_setup_theme`.

[2016-11-14 15:28] #257 closed

[2016-11-16 16:43] AlexGStapleton opened #312 "Layout import: browse button doesn't work in Edge"
Preface: Drop and drag works without issue.

The layout import button doesn't work in Edge. It's unclear (based on this [WordPress ticket](https://core.trac.wordpress.org/ticket/37039)) if this is an issue with Plupload or a general issue with Edge. It should be noted that WordPress [resolved this issue](https://core.trac.wordpress.org/ticket/37039) with their usage.

![](https://i.imgur.com/bxger

[2016-11-23 02:35] LittleHamster opened #313 "Edit box is too wide with lots of empty spaces"
When you try to add an element, the UI covers the entire screen with lots of empty spaces.
For example look at this screenshot:

<img width="1535" alt="screen shot 2016-11-22 at 9 31 44 pm" src="https://cloud.githubusercontent.com/assets/10330481/20549539/2f5dc320-b0fb-11e6-956d-a7a8e82cd451.png">

there are empty spaces which could be removed by simply making the box smaller.

can we resize the e

[2016-11-23 22:29] LittleHamster commented on #313
@AlexGStapleton do you know if there is a hook where we can modify this width our self?

[2016-11-24 06:24] LittleHamster commented on #313
What do you guys think about this?

<img width="850" alt="screen shot 2016-11-24 at 1 19 54 am" src="https://cloud.githubusercontent.com/assets/10330481/20588573/37138110-b1e4-11e6-95be-c00762fd5e7a.png">

<img width="853" alt="screen shot 2016-11-24 at 1 21 52 am" src="https://cloud.githubusercontent.com/assets/10330481/20588602/6d5971f8-b1e4-11e6-8ab7-798a6ebf8ca7.png">

so instead of full scree

[2016-11-25 16:05] AlexGStapleton opened #314 "Layout directory issues with encoded URL"
[As per slack chat](https://siteorigin.slack.com/archives/plugins/p1480088996000002)

This [add_query_arg()](https://github.com/siteorigin/siteorigin-panels/blob/develop/inc/admin-actions.php#L93) can sometimes result in an encoded &, Oddly, when it doesn't the layout directory doesn't work as only the encoded version works.

http://layouts.siteorigin.com/wp-admin/admin-ajax.php?action=query_layou

[2016-11-28 16:17] AlexGStapleton commented on #308
I'm able to replicate this with the two widgets I tried (livemesh and recent posts with thumbnails). I suspect it's due to the_content being called for whatever reason. My reasoning for thinking this are based on the second plugin.

[2016-11-28 20:09] LittleHamster commented on #313
@AlexGStapleton any follow up with this?

[2016-11-29 09:08] AlexGStapleton commented on #314
[This came up on Slack](https://siteorigin.slack.com/archives/support/p1480410164000008)

[2016-11-29 09:16] AlexGStapleton commented on #313
Hi @LittleHamster,

I'm unsure of the original idea behind making it that large but I suspect it related to the possible contents of the modal itself. There's currently no way (that I know) that will allow you to resize the modal without manually resizing it via `admin_enqueue_scripts`.

Regarding your suggestion, I'm not too sure I like it to be honest - it seems restrictive. A better solution wo

[2016-11-29 09:18] AlexGStapleton commented on #306
I can't seem to replicate this. Could you please send me a copy of your parent theme (or rather tell me the name) and a copy of your child theme so I can run a few tests?

[2016-11-29 10:06] AlexGStapleton commented on #286
This doesn't appear to be a bug, [but intentional](https://github.com/siteorigin/siteorigin-panels/blob/develop/siteorigin-panels.php#L1591).

[code]

I'm not too sure why though. 😕

[2016-11-29 11:17] gregpriday commented on #286
We can still investigate the reason and find a way of letting a user enter a numeric ID.

[2016-11-29 14:19] LoloIrie commented on #266
Up !

[2016-11-29 15:04] AlexGStapleton commented on #250
As this has been merged in PB 3.0 I'm going to close this for the time being.

[2016-11-29 18:59] cartpauj opened #315 "the_content priority"
Would you consider running your the_content filter at an earlier filter hook priority instead of the default 10?

This would be helpful so that plugins currently hooking in before yours has run would not have their additional content lost.

A priority of 9 even, would probably solve most of such issues.
`add_filter( 'the_content', 'siteorigin_panels_filter_content', 9 );`

[2016-11-30 08:23] AlexGStapleton commented on #315
This is something I've brought up with Greg in the past and his response was:

([reference](https://siteorigin.slack.com/archives/plugins/p1475090302000055))

As a result of this, I've just submitted a PR for PB 3.0 for testing.

[2016-11-30 16:32] cartpauj commented on #315
I'm using this workaround ATM as well

[code]

[2016-12-03 06:44] LittleHamster opened #317 "Bug when selected ratio is not saved in the "columns with a ratio of " section"
The selected ratio is not saved in the "Columns with a ration of" selection when viewing the ratio.
example: Create a row / Edit Row / Set Ratio to Golden / Save and publish
when editing the same row again, ratio is set to even but it is golden ratio

<img width="1113" alt="screen shot 2016-12-03 at 1 43 28 am" src="https://cloud.githubusercontent.com/assets/10330481/20857423/fdddeb20-b8f9-11e6-85

[2016-12-03 06:48] gregpriday commented on #317
Thanks for reporting. This is a duplicate of: https://github.com/siteorigin/siteorigin-panels/issues/230

[2016-12-03 06:48] #317 closed

[2016-12-03 07:02] LittleHamster commented on #313
@AlexGStapleton
thanks for your feedback,

do you know any case where we need a dialog box that size for a widget? I test the majority of the widgets in the bundle package and we have so much empty spaces in all of them. If you look at my first screenshot, do you think having that much empty space is reasonable?

also the full with fields has been widely used in other plugins UI, for example **vis

[2016-12-03 12:37] AlexGStapleton commented on #313
I'm unsure. Our Widgets Bundle is actually also a framework so any plugin can make use of it as a base. As such, restricting it to a certain size isn't something that should really be done as it may limit certain widgets. What widgets I don't know, but it would be better not to put an artificial limit in place regardless.

I'm okay with the idea of making the fields full width now.

I'm going to f

[2016-12-03 20:14] LittleHamster commented on #313
@AlexGStapleton I am glad that you like the idea of full width fields. But it only works if we reduce the size of the dialog box, else, it would be a terrible idea. Imagine having full width in the first screenshot, I don't think user experience-wise it would work if we are not going to reduce the size of the dialog box.

[2016-12-05 05:08] RajeebTheGreat commented on #159
Hi @gregpriday ,

Any update on this? We are developing theme with SiteOrigin Page Builder and would love to see this being implemented.

Let me know if I can help on this on any way.
Regards!

[2016-12-08 19:03] gregpriday commented on #308
Thanks for letting us know about this. I'll take a look as soon as I can.

[2016-12-12 04:46] AlexGStapleton opened #318 "WooCommerce Shop Page: PB isn't able to run"
Due to how WooCommerce handles the shop page, Page Builder isn't actually able to run as the_content isn't used.

References:
[Shop description hook](https://docs.woocommerce.com/wc-apidocs/source-function-woocommerce_product_archive_description.html#599-614 )
[wc_format_content()](https://docs.woocommerce.com/wc-apidocs/source-function-wc_format_content.html#703-712)

[2016-12-12 04:46] AlexGStapleton commented on #318
I can get Page Builder to run (see below - ignore the function name), but I can't get the styles / JavaScript to actually output. I'm likely missing something obvious. :/

[code]

[2016-12-12 05:52] kala725 opened #319 "Is this plugin Wordpress VIP Compatible ?"
Just wanted to know , if this plugin is acceptable on Wordpress VIP Platforms, As I can't find it in their public list.

[](https://vip.wordpress.com/plugins)

[2016-12-14 17:44] d--j opened #321 "Plugin incompatibility: Gravity Forms + Yoast SEO"
### What did you expect to happen?

The Page Builder should work with the popular plugins [Gravity Forms](http://www.gravityforms.com/) and [Yoast SEO](https://wordpress.org/plugins/wordpress-seo/).

If all three plugins are activated there should be no JavaScript errors and the Gravity Forms CSS should be enqueued.

### What happened instead?

When a Gravity Form is included on a page via the Sit

[2016-12-14 17:50] Misplon commented on #321
Hi d--j

Thanks for posting and for such a nicely formatted issue report. The team will take a look at this as soon as they're able.

From a non-technical perspective I wanted to quickly share with you my experience of this combination. You can see for example, Yoast, Gravity and PB in use [here](http://ctshipsuppliers.com/contact-us/). The workaround at that link is to use Gravity via a Text widg

[2016-12-14 17:55] d--j commented on #321
Hi @Misplon,

yes looks like that workaround works: https://yoast.test-umgebung.de/form-as-shortcode/

[2016-12-14 18:01] Misplon commented on #321
Super, thanks for testing and for logging this. Due to the backlog of Page Builder issues, this probably won't be attended to right away If you don't mind, it would be best to use the shortcode method so you can keep building and using the three plugins together. You can use the core Text widget, the Black Studio TinyMCE "Visual Editor" widget or the SiteOrigin Editor widget (contained in the Site

[2016-12-14 18:13] d--j commented on #321
I used that workaround on one site but since it does not work on all sites. One site of mine has a CSS for the SiteOrigin Editor + Standard Text Widget  and this clashes with the Gravity Forms CSS.

On that site I used the following workaround:
[code]

[2016-12-14 18:23] Misplon commented on #321
Looks good. Thanks for sharing that.

[2016-12-19 05:04] ehrig commented on #159
I would love to see this hook added as well. Any update on this one Greg?

[2016-12-27 11:45] AlexGStapleton opened #324 "Sensei Issues"
I have a premium user who's reported a couple of issues (which I've been able to replicate on a separate install) with SiteOrigin page Builder and [Sensei](https://woocommerce.com/products/sensei/).

- Complex layouts will not save when applied to a lesson and instead, the page will revert to a non-page builder form.

The easiest way to replicate this is to import a layout from the layout director

[2017-01-02 21:43] Misplon opened #326 "Post Loop Widget: Add a hook to allow scripts to be enqueued"
Add a hook to the Post Loop widget to allow scripts that might be required for a loop to be enqueued.

[2017-01-02 21:47] Misplon commented on #319
Hi @kala725. As far as I know, there hasn't been any testing by SiteOrigin with regards to WP VIP.

[2017-01-06 17:28] LittleHamster opened #327 "Negative padding is reset to positive"
In the widget layout if you set the padding to a negative number and save it, then it rests to a positive value. For example padding top is set to `-20px` but when saved, it is `20px`. Is this a bug?

[2017-01-06 17:30] AlexGStapleton commented on #327
Okay so this is related to #260, but ignoring that issue - padding doesn't allow for negative numbers. If you used a negative number, the padding wouldn't work as you would have a syntax error. Sorry mate. :(

[2017-01-16 16:00] #308 closed

[2017-01-16 16:02] gregpriday commented on #225
Just double checked, and this is no longer an issue.

[2017-01-16 16:02] #225 closed

[2017-01-16 16:03] gregpriday commented on #51
Just implemented this in https://github.com/siteorigin/siteorigin-panels/commit/1b44eea2da144928e6328510d0c9a0b0c4caf7bb to resolve another issue :)

[2017-01-16 16:03] #51 closed

[2017-01-16 16:06] gregpriday commented on #186
We have this now.

![screen shot 2017-01-16 at 6 06 12 pm](https://cloud.githubusercontent.com/assets/1126859/21990179/79f4fec6-dc16-11e6-96a0-943af7b4b2fb.png)

[2017-01-16 16:06] #186 closed

[2017-01-16 16:22] #327 closed

[2017-01-17 09:39] romosamatya opened #331 "Layout builder prevents custom widget to load scripts when widget is active"
While creating widget I have used `is_active_widget( false, false, 'themename_test_widget', false ) )` to load the scripts only on front-end page if and only that particular widget is active but it fails if nested inside Layout Builder and is OK if used inside Layout Builder.

[2017-01-20 05:11] AlexGStapleton opened #332 "the_content() with $strip_teaser doesn't work"
[the_content()](https://developer.wordpress.org/reference/functions/the_content/#parameters) with $strip_teaser enabled will remove everything before the manual more. This functionality doesn't work when Page Builder is enabled.

[2017-01-25 14:40] Horttcore opened #333 "Only load front.css when needed."
Hello,

couldn't find any older ticket about this, but it would add some performance if the front.css is only loaded if the pagebuilder module is used.

Cheers Ralf

[2017-01-25 17:43] mrqaidi opened #334 "adding an page with php"
hello i am trying add homepage via php  but its not working  here is my code

    $post_id = wp_insert_post(array(
        'post_content'   => '',
		'post_name'      => __('Homepage','aq_qmovies'),
		'post_title'     => __('Homepage','aq_qmovies'),
		'post_status'    => 'publish',
		'post_type'      => 'page',
		'ping_status'    => 'closed',
		'post_date'      => date('Y-m-d H:i:s'),
		'post_date_

[2017-01-25 19:02] mrqaidi commented on #334
found how to do it

    // layout json
 	$post_content = '{"widgets":[{"title":"","aq_content":"movies","aq_orderby":"recent","posts":"10","Featured":"yes","item_slide":"3","autoplay":"true","stopOnHover":"true","pagination":"true","panels_info":{"class":"AQ_Widget_Slideshow_content","raw":false,"grid":0,"cell":0,"id":0,"widget_id":"a0f92c8b-e5ff-438b-a2e1-d7f9e67d4a83","style":{"background_displa

[2017-01-30 05:27] AlexGStapleton opened #335 "When in developer mode, show ids where possible"
When in developer mode (SITEORIGIN_PANELS_DEV), we should show any possible ids that a developer may need. For example, a row id or a widget id could be of use to the developer so we should show them somehow in the interface.

[2017-02-02 09:49] KevinTaron opened #336 "Padding issue - row with custom id - v2.4.23"
The padding issue from v2.4.22 is not completely fixed.
Rows with custom "Row ID" doesn't get padding.

[2017-02-02 12:19] gregpriday commented on #336
Thanks for letting us know about this @KevinTaron. We'll get a fix for this out before the weekend.

[2017-02-02 13:26] KevinTaron commented on #234
Yeah would love that feature but I would prefer a non Javascript Solution.
CSS with flexbox should render faster and is supported in all browsers.
http://caniuse.com/#feat=flexbox

[2017-02-02 15:20] AlexGStapleton commented on #234
Flexbox is nice and I like it, but I've found it can be very unreliable on mobile devices. :(

[2017-02-03 12:25] #166 closed

[2017-02-06 04:19] AlexGStapleton opened #338 "Live Editor and History: External script inclusion in page builder will get flagged as XSS in Chrome"
I'm unsure if this is something we can fix, but basically if you include some external JavaScript hosted on a third party server to a text widget and open the Live Editor, it won't be loaded. An example of this is a simple Pinterest board:

[code]

Once the live editor is run (or history viewed), this will appear in the console (or something like that):
![](https://i.imgur.com/8jlkRoM.png)

[2017-02-06 13:21] AlexGStapleton opened #339 "Multiple widgets to a row padding issue"
A page (or layout Builder) with at least two rows with multiple widgets in a single column with different padding applied to both widgets will result in the padding that's meant to be applied to the second widget being applied to the first widget. The second widget won't get any padding applied.

[Reference layout](https://u.teknik.io/eK2nu.json)

![](https://i.imgur.com/VPxutb7.png)
![](https://i

[2017-02-07 10:41] AlexGStapleton opened #340 "Improve <!-- nextpage --> support"
`` is very unreliable and only really works if one or two widgets are present at the most.

[WordPress.com reference](https://en.support.wordpress.com/nextpage/) (there's no reliable WordPress.org link)

[2017-02-07 14:56] ehrig opened #341 "Filter to add custom widget field types under "Widget Styles""
Creating custom widget field types works great. But it looks like those aren't picked up by the "Widget Styles" groups. I have already created a custom widget field type "box-shadow" that I want to add to the "Widget Styles" group "Design". But I can't get my head around how.

As far as I can see all "Widget Styles" are run through `siteorigin_panels_render_style_field`, which has no filter that a

[2017-02-15 05:40] daviedR commented on #339
I opened a support topic on WordPress site for this issue but no response until now.

https://wordpress.org/support/topic/padding-settings-issue-on-2-4-23/

This is a serious issue. Our clients are complaining their padding are totally gone after the update. Our quick fix for now is using Custom CSS, but it looks inconvenient to end users.

Please fix this asap.

[2017-02-16 15:20] braamgenis opened #342 "'Update' button in Live Editor"
Consider adding an 'Update' button in the Live Editor, so user doesn't have to click 'Done' _and_ 'Update' to save changes.

[2017-02-20 13:01] #336 closed

[2017-02-20 14:16] gregpriday commented on #339
I've fixed this with https://github.com/siteorigin/siteorigin-panels/commit/09d3ae26868a1de8886265b7cd57e438a351f2f0 - the update will be coming soon.

[2017-02-20 14:16] #339 closed

[2017-02-25 00:25] komarovartem opened #343 "siteorigin_panels_render() and live editor"
**The Issue.**
If you tried to output the panels data from the post for example in the header.php using the following code.

`$panels_data = get_post_meta(206, 'panels_data', true);
echo siteorigin_panels_render( 206, true, $panels_data );`

or

`echo siteorigin_panels_render(206);`

It works perfectly but not in a Live Editor. In the Live Editor, the content from the editing page is being copied

[2017-03-02 17:10] Talv opened #346 "Widgets defined within namespace are not rendered in preview mode (live editor)"
I have few custom widgets that have its class located in a namespace, eg: ```Widgets\Foo```. In live mode they are not rendered at all. They are visible on the sidebar and I can edit them from there, but actual elements are not rendered on the website preview.

The problem is within ```siteorigin_panels_live_editor```, which then calls ```siteorigin_panels_process_raw_widgets```. Here we can find.

[2017-03-09 08:34] Paul-Allen opened #347 "Row padding not being applied - 2.5 Beta"
The row padding is no longer being applied after installing Page Builder 2.5 Beta.

I believe this is due to the .panel-grid div being moved inside the .panel-row-style div.

[2017-03-09 08:42] andrejarh commented on #347
Confirming this bug on my test, row paddings are not working.

[2017-03-09 08:44] andrejarh opened #348 "page builder 2.5 beta issue with adding widgets"
If you create a new page and add a widget before adding the row, some issues appear. In previous version, the row was added automatically, now it looks like this:
<img width="1185" alt="screen shot 2017-03-09 at 09 12 32" src="https://cloud.githubusercontent.com/assets/10053621/23742424/ff7a65e0-04ac-11e7-8a5b-aef21f6a1171.png">

[2017-03-09 09:23] AlexGStapleton opened #349 "2.5: Add cell wrapper filters"
A commonly requested addition is a filter at the start and end of the cells as well as a general filter before the start and end of a row. Based on the 2.5 focus, now is the perfect time to add this sort of filter.

Think of something similar to [siteorigin_panels_before_row](https://github.com/siteorigin/siteorigin-panels/blob/develop/inc/renderer.php#L320)

[2017-03-09 12:36] lgfstudio opened #350 "page builder 2.5 beta issue Flex box: Stretch"
Hi guys

This does not work for me. Other Flex settings are OK.

[2017-03-09 14:26] #348 closed

[2017-03-09 14:55] braamgenis commented on #350
Hi @lgfstudio This seems to work fine for me. Could you please provide more detail about what, exactly isn't working? Expected vs actual behaviour and steps to reproduce would help me track down the issue. Thanks!

[2017-03-09 15:04] #349 closed

[2017-03-09 15:05] lgfstudio commented on #350
Maybe I misunderstand this function, but I was expecting having the 2 columns with the same high (Stretched)

![test](https://cloud.githubusercontent.com/assets/5370777/23755782/caabdc74-04e1-11e7-9e9d-6306da04eaa8.jpg)

[2017-03-09 16:50] gregpriday commented on #347
Thanks for reporting. Changing to flexbox meant that we needed to move the style wrapper up one level. I just changed how the row style is targetted for row padding.

https://github.com/siteorigin/siteorigin-panels/commit/81f89a2cc6149647c315c602925c6c605e8efaa4

[2017-03-09 16:50] #347 closed

[2017-03-10 06:26] #319 closed

[2017-03-10 09:06] AlexGStapleton commented on #350
Ah. @braamgenis pretty sure the issue is that the background isn't stretched. Only panel-grid-cell is stretched, not .panel-cell-style

[2017-03-14 13:14] #350 closed

[2017-03-14 18:30] tobada commented on #5
Hey, any news on the subject? And if not, is there a best practise workaround?

[2017-03-14 19:42] gregpriday commented on #5
Support clipboard operations have actually become a lot more widely supported in browsers these days, and we should be able to have it gracefully degrade for older browsers. I'll take another look at this. Combined with the contextual menu that we added last year, it should actually be fairly easy to implement.

[2017-03-15 08:27] gregpriday commented on #5
I've added some basic copy paste functionality. Rather than using the clipboard, which requires a rather heavy library and some hacks to use, I went with cookies. I might change this to use HTML5 storage instead of cookies.

https://github.com/siteorigin/siteorigin-panels/tree/feature/copy-paste

We'll probably have this included in the 2.5 release.

[2017-03-15 15:01] AlexGStapleton opened #353 "2.5: Live Editor doesn't update when you adjust ordering for rows/widgets"
If you reorder/reorganize rows/widgets in the live editor this isn't reflected until you either reload the live editor or make a content change.

[Reference GIF](https://i.imgur.com/139FhY1.gif) (5MB)

[2017-03-15 15:08] gregpriday commented on #353
Mmm, that might be broken from when I brought in all the changes we were making for 3.0.

[2017-03-15 21:23] gregpriday commented on #353
Resolved with https://github.com/siteorigin/siteorigin-panels/pull/354/commits/75c4c1be33fae3ce4ca6758ed8dd6a8e591a79c7

[2017-03-15 21:23] #353 closed

[2017-03-16 21:57] #5 closed

[2017-03-17 04:18] Justin4Site commented on #5
Hey Greg, The way to go man! Thank you I appreciate the "Copy & Paste" very much!

On March 16, 2017 5:57:43 PM EDT, Greg Priday <notifications@github.com> wrote:

[2017-03-17 04:20] crmb commented on #5
Great i will try it ASAP

[2017-03-17 04:22] gregpriday commented on #5
It's a pleasure @Justin4Site - it only took us like 2 and a quarter years ;)

[2017-03-17 19:28] gregpriday opened #355 "Rows share the same cell styling"
If you create a page with 2 rows, each with 2 cells. Then change the second cell of the first row to have a green background and save the page. When you view the page, the second cell of both rows will have a green background.

The issue seems to have come in with the refactoring of the render function - https://github.com/siteorigin/siteorigin-panels/commit/1b9228af17ce265752f3862f0039e78ae9eaf92

[2017-03-18 22:42] #355 closed

[2017-03-19 05:23] #343 closed

[2017-03-19 05:25] gregpriday commented on #343
Thanks for letting us know about this @komarovartem. I added a check to the Live Editor filter so it only filters for the post_id of the current post.

[2017-03-19 05:42] #346 closed

[2017-03-19 05:44] gregpriday commented on #346
Thanks for letting us know about this @Talv. Escaping class names is only important if the data is being saved to post_meta first (which unescapes it in the process of loading from the database). The Live Editor skips this step which is what was causing problems.

Fixed it by adding an option to not escape classes to the `process_raw_widgets` function.

[2017-03-19 05:50] gregpriday commented on #341
Hi @ehrig - sorry for the late reply here. The Widget Styles is meant for creating generic widget styles that apply to all widgets in Page Builder. They're different from the fields in the Widgets Bundle, so `url` isn't really a typo. It's just an unused field type.

This also means you can't actually use Widgets Bundle custom fields as style fields. At this time you can only the field types we pr

[2017-03-19 05:50] #341 closed

[2017-03-19 05:59] #338 closed

[2017-03-19 06:02] gregpriday commented on #338
Adding the `X-XSS-Protection: 0` header fixes this for both the Live Editor and History Browser. I made sure to only add this with a few checks - just in case.

[2017-03-19 06:09] gregpriday commented on #313
I agree that for certain widgets, the excess white space isn't all that attractive. The main reason we made the widget dialogs bigger was to give space for things like nested repeater fields with TinyMCE fields. In this case, the more horizontal space, the better.

One solution might be to add an extra button to the menu bar (next to the left and right navigation arrows), that allows the user to c

[2017-03-19 06:16] gregpriday commented on #332
Unfortunately, WordPress doesn't give us access to this variable from the_content filter, so there's no way for us to fix this.

https://github.com/WordPress/WordPress/blob/master/wp-includes/post-template.php#L240

[2017-03-19 06:16] #332 closed

[2017-03-19 06:23] gregpriday commented on #333
This is the default behaviour of Page Builder. This script is only enqueued when the Page Builder render function is called.

https://github.com/siteorigin/siteorigin-panels/blob/develop/inc/renderer.php#L237

So generally, if front.css is being enqueued on every page, then it might be a plugin calling `siteorigin_panels_render` for pages other than the page currently being viewed.

[2017-03-19 06:23] #333 closed

[2017-03-19 06:24] gregpriday commented on #334
Hi @mrqaidi, glad to hear you were able to figure this out.

[2017-03-19 06:24] #334 closed

[2017-03-19 06:31] gregpriday commented on #315
For now, anyone wanting to change the priority will need to stick to the workaround method. The issue with running the filter earlier is that the post_content is run through wpautop, which seriously damages the layouts of a lot of widgets. This came up during my testing.

Although running our filter at `10` does cause us to miss out on some processing from other plugins, it also helps us avoid pot

[2017-03-19 06:31] #315 closed

[2017-03-19 06:33] gregpriday commented on #331
The best way for us to solve this would be to have the sidebars emulator check inside Layout Builder widgets.

[2017-03-19 06:41] gregpriday commented on #331
Actually already reported here https://github.com/siteorigin/siteorigin-panels/issues/282

[2017-03-19 06:43] gregpriday commented on #282
@braamgenis I know it's been a while since you built the sidebars emulator, but can you take a look at this? My guess is that we just need to add some sort of recursive component to the `register_widgets` function that checks inside Layout Builder widgets for more widgets.

[2017-03-19 09:29] shivapoudel commented on #331
What is the solution to do that check then?

[2017-03-19 09:50] gregpriday commented on #195
Since resolved using mobile specific padding settings.

[2017-03-19 09:50] #195 closed

[2017-03-19 09:52] gregpriday commented on #56
We've since added tablet collapse point.

[2017-03-19 09:52] #56 closed

[2017-03-19 09:56] #126 closed

[2017-03-19 09:57] gregpriday commented on #240
This should be resolved with https://github.com/siteorigin/siteorigin-panels/commit/3c487d8fe67b9a6e0390b6d3f7191fb932722adf

[2017-03-19 09:57] #240 closed

[2017-03-19 11:16] #242 closed

[2017-03-19 13:15] gregpriday commented on #217
I tested this and I cant seem to recreate the data loss. This theme is using a very custom Customizer interface. It's possible they've fixed something on their side.

[2017-03-19 13:15] #217 closed

[2017-03-19 13:34] #219 closed

[2017-03-19 13:35] gregpriday commented on #219
I've added both filters. The one allows you to change the Layouts Directory to a custom URL. I don't think we'll have the time to document implementing a custom server any time soon, but the option is at least there.

[2017-03-19 13:39] gregpriday commented on #140
We have since added this. Page Builder 2.5 will include a filter that's passed the cell data like this - https://github.com/siteorigin/siteorigin-panels/blob/develop/inc/renderer.php#L631-L635

[2017-03-19 13:39] #140 closed

[2017-03-19 13:42] gregpriday commented on #174
The only problem with overflow (which has since come up in testing) is that widgets that are designed to overflow, have their content hidden. One example is a widget that generates a modal. Negative margins are here for the time being, so I'd consider this one of the main aspects of a theme making itself Page Builder Compatible.

[2017-03-19 13:57] gregpriday commented on #199
@braamgenis: Do you remember how our compatibility with the Layout Builder in the customizer works. This line seems to be breaking things.

https://github.com/siteorigin/siteorigin-panels/blob/develop/widgets/basic.php#L96

Removing the check `!jQuery('body').hasClass('wp-customizer')` fixes this issue, but then messes with existing Layout Builder widgets. Which is why I imagine it's there.

Do yo

[2017-03-19 14:00] gregpriday commented on #205
@AlexGStapleton: I'd lean heavily towards using Glotpress. Maybe we should just remove all the outdated translations from Page Builder's languages folder and just rely on Glotpress translations. I haven't looked into this too much. Would it be viable?

[2017-03-19 14:01] gregpriday commented on #218
Duplicate of https://github.com/siteorigin/siteorigin-panels/issues/219

[2017-03-19 14:01] #218 closed

[2017-03-19 14:11] gregpriday commented on #147
This has been added, we'll release it in version 2.5 - https://github.com/siteorigin/siteorigin-panels/blob/develop/inc/renderer.php#L637

There are a few other hooks worth looking at too, as well as some cell specific style settings.

[2017-03-19 14:11] #147 closed

[2017-03-19 14:12] gregpriday commented on #307
@orionthemes I'm going to close this issue for now. If you're still having problems, please feel free to reopen it.

[2017-03-19 14:12] #307 closed

[2017-03-19 14:15] gregpriday commented on #287
@AlexGStapleton - can you check if this is still an issue? I just tested and it seems to be working fine. The fix might be from the changes where we moved custom row IDs from the row to the row styling element.

[2017-03-19 14:16] gregpriday commented on #94
We have started some work to further improve the Live Editor. The Customzier is great, but we're going to focus on making improvements to the Live Editor, rather than getting everything working in the Cusomizer.

[2017-03-19 14:16] #94 closed

[2017-03-19 14:18] gregpriday commented on #88
We have added the ability to set cell IDs as well as filter cell classes. This will all be available in the 2.5 update.

[2017-03-19 14:18] #88 closed

[2017-03-19 14:26] gregpriday commented on #209
This limitation isn't only enforced by the input field, but by the row dialog code too. I've increased the limitation to 12 and implemented the filter that @stefan-meier added (with a slightly different name).

The limitation is mainly in place to stop Page Builder from completely crashing if the user enters a huge number. So this is a sort of sane maximum. I can't see a reason why many people wou

[2017-03-19 14:27] #209 closed

[2017-03-19 14:28] gregpriday commented on #156
We actually resolved this in https://github.com/siteorigin/siteorigin-panels/commit/40ce64f1403edd591f810ca85e138aa02911e459

[2017-03-19 14:28] #156 closed

[2017-03-19 14:29] gregpriday commented on #249
Closing this issue for now. I can't seem to recreate. If its reported again, try get hold of the users layout JSON file so I can test.

[2017-03-19 14:29] #249 closed

[2017-03-19 14:40] #248 closed

[2017-03-19 14:44] gregpriday commented on #231
I just double checked and this issue is still coming up. I'm lowering the priority because it is a slight edge case. Maybe there's something we can do to fix it though.

[2017-03-19 14:47] gregpriday commented on #167
We resolved this with a custom Parallax library - https://github.com/siteorigin/siteorigin-panels/commit/c9fa3af5aa623594abfabfd44de0abe16cea6410

If there are still performance issues, please let us know. So far, the new implementation seems to be working quite well.

[2017-03-19 14:47] #167 closed

[2017-03-19 14:49] gregpriday commented on #215
Instead of a placeholder, which didn't really make sense with the new measurement field, the default is displayed in the description for each of these fields.

[2017-03-19 14:49] #215 closed

[2017-03-19 14:50] gregpriday commented on #230
Lowering priority slightly. This is more of a nice to have than a strict requirement.

[2017-03-19 14:51] gregpriday commented on #234
We've implemented this using Flexbox. It'll be available in the Page Builder 2.5 update.

[2017-03-19 14:51] #234 closed

[2017-03-19 14:56] gregpriday commented on #232
@braamgenis have actually chatted about this. We're going to go with the ability to set widget titles rather than row titles. So changing the text "SiteOrigin Hero", so something more custom. This means we're just giving users the ability to modify something that's already there, rather than trying to figure out a way to fit in row labels.

We also almost have a feature ready where you can color c

[2017-03-19 15:09] #273 closed

[2017-03-19 15:09] gregpriday commented on #273
Well spotted. I've updated the license.

[2017-03-19 15:15] gregpriday commented on #314
I actually think it's the encoded version that's not working. The only reason `http://layouts.siteorigin.com/wp-admin/admin-ajax.php?action=query_layouts&amp;page=3` works is because `page` is being ignored. For the other URL, `page` is being taken into account and there aren't 3 pages of layouts yet.

[2017-03-19 15:19] gregpriday commented on #314
How often does this come up? We don't really have control over the output of add_query_arg. There might be something we can hack on the layouts server, but this would be a last resort. Ideally, we want to just rely on the `$_GET` variables. Using the encoded `&` is messing with this.

[2017-03-19 15:23] gregpriday commented on #74
I think we actually resolved this since you posted the issue by treating single-cell rows in the same way as multi-cell rows. I just double checked, and the issue you posted seems to be fine now.

[2017-03-19 15:23] #74 closed

[2017-03-19 15:26] gregpriday opened #356 "Bottom margin now included in row styling"
With the change in ordering of row styling to outside the actual row, the bottom margin of a row is now included in the row styling div. This isn't a terrible result, but we would be changing existing layouts, which should be avoided.

![screen shot 2017-03-19 at 5 25 36 pm](https://cloud.githubusercontent.com/assets/1126859/24082131/2f745e4e-0cc9-11e7-8500-e2d628273272.png)

[2017-03-19 15:28] gregpriday commented on #306
I'm closing this issue for now, @Jursdotme. If you have any additional information, please let us know and I'll reopen it.

[2017-03-19 15:28] #306 closed

[2017-03-19 15:37] gregpriday commented on #272
Sorry for the late reply here @rdytogokev. Yeah, this would be a really nice enhancement. The main issue is that even though the Layout Builder widget is bundled with Page Builder is bundled with Page Builder, it is an independent widget.

So far we've been able to keep Page Builder working without having any widget specific code in the main Backbone application. Ideally, I'd like to keep it this

[2017-03-19 16:04] rdytogokev commented on #272
Cool.  That helps. I appreciate your hard work on this project. Thanks.

[2017-03-19 16:26] gregpriday commented on #312
@AlexGStapleton: can you confirm this is still an issue? If so, @braamgenis, do you have any way of testing with Edge? Can I assign this issue to you?

[2017-03-19 17:05] gregpriday commented on #303
I can recreate this issue on my side. I'll take a look. My first suggestion though would be to try educate users on how to properly use the Layout Builder widget. I can't quite see why those single-column rows with a single layout builder, aren't just normal 3 column rows.

[2017-03-19 17:36] #303 closed

[2017-03-19 17:37] gregpriday commented on #331
There is no solution currently. This is something we'll fix internally. You can keep track of this issue's progress here: https://github.com/siteorigin/siteorigin-panels/issues/282

[2017-03-19 17:37] #331 closed

[2017-03-19 17:39] gregpriday commented on #278
Yeah, this would be ideal. There are a lot of things to consider. Ideally, the import would have some concept of the original media field's attachment ID to prevent duplicate imports.

[2017-03-19 17:46] #277 closed

[2017-03-19 18:31] #265 closed

[2017-03-19 18:56] gregpriday commented on #264
@karimhossenbux - sorry for the late reply here. I think the one thing that needs to change is allowing alpha colors in the sanitization function. I've made that change, it'll be available in the 2.5 update.

https://github.com/siteorigin/siteorigin-panels/commit/c362d064f193e29d4d7ea6b92fedba62d033f654

I tested out that color picker plugin, as well as another one, but I couldn't get them working

[2017-03-19 19:01] gregpriday commented on #266
@LoloIrie please don't bump issues. We get to everything when we can.

I'll take a look at this and see what I can do.

[2017-03-19 19:33] #266 closed

[2017-03-19 19:35] gregpriday commented on #266
Where ever possible, I've added actual old widget data based on the widget ID we happened to be storing. There are still a few instances where we won't pass in the actual old instance, like the Live Editor, but whenever data gets saved to the database, update functions are given the old instance if its available.

This will go out in the Page Builder 2.5 update.

[2017-03-20 06:35] AlexGStapleton commented on #312
Can confirm - still an issue.

[2017-03-20 06:37] AlexGStapleton commented on #314
At the time of posting, it felt like every fresh install had this issue but now it rarely comes up. Not too sure what's changed.

[2017-03-20 06:39] AlexGStapleton commented on #287
It works now. This must have been indirectly fixed in a recent update.

[2017-03-20 06:39] #287 closed

[2017-03-20 06:43] AlexGStapleton commented on #205
Extremely. The relevant po/mo files would be automatically downloaded so there's no reason to include them. Plus, they can be updated independently of the plugin itself.

The only potential downside is that we have to rely on the translation team a little bit more so we can't exactly fast track translations if the need ever arises.

[2017-03-20 07:31] braamgenis commented on #282
Yeah, that sounds about right. Maybe add a filter for a widget to specify that it might contain other widgets that need to be registered.

[2017-03-20 07:44] gregpriday commented on #314
Maybe it was a fix with add_query_arg in a recent update of WordPress. I'll close this for now because it's difficult to fix. If it comes up for a user, tell them to update WordPress. If that doesn't fix things, then we can reopen this issue and try hack a fix. I'd rather avoid that, though.

[2017-03-20 07:44] #314 closed

[2017-03-20 07:49] braamgenis commented on #199
Yeah, a quick look didn't bring anything to mind. I'll have to take a deeper dive to see what's going on, when I get a chance.

[2017-03-20 07:55] gregpriday commented on #31
This has all been added. All these settings will also be available for cells in Page Builder 2.5

[2017-03-20 07:55] #31 closed

[2017-03-20 07:56] gregpriday commented on #77
We've moved over to autoloading for Page Builder 2.5

[2017-03-20 07:56] #77 closed

[2017-03-20 08:01] szepeviktor commented on #77
Thanks.

--
+36204242498
Ezen a készüléken sok az elütés.
Elnézést!

On March 20, 2017 8:56:53 AM CET, Greg Priday <notifications@github.com> wrote:

[2017-03-20 08:08] gregpriday commented on #83
The main place we're using `file_get_contents`now is for layout importing. The WordPress filesystem is only really important when you're dealing with file permissions, which reading doesn't need to do.

For layout importing, we're only accessing, then deleting files in the system's temporary folder. So it's really not essential.

All the other places where we're using `file_get_contents` are due f

[2017-03-20 08:08] #83 closed

[2017-03-20 08:17] gregpriday commented on #82
This would be fairly easy to implement now using a Layout Widget inside a row with a standard Full Width layout.

[2017-03-20 08:17] #82 closed

[2017-03-20 08:20] gregpriday commented on #154
@braamgenis Can you check if this is still an issue? The word counts seem to be working for me. Closing for now, feel free to reopen if this is still an issue.

[2017-03-20 08:20] #154 closed

[2017-03-20 08:23] braamgenis commented on #312
Yeah, I recently setup dual booting with Win 10, would just need to get VVV etc going.

[2017-03-20 08:35] braamgenis commented on #154
Yeah, seems to be fixed. :+1:

[2017-03-20 08:52] ste93cry commented on #82
It should be possible to specify the CSS classes for the container `div` in the backend, or at least with a filter

[2017-03-20 12:37] brentjett commented on #82
It's no problem, I use Beaver Builder now 👍

[2017-03-20 13:48] #356 closed

[2017-03-20 13:57] Jursdotme opened #357 "Filter rows"
is is possible to filter the rendering of rows? I want to prevent the rendering of a row unless some condition is met.

Say for instance i want to show different rows on a page based on the userrole.

Any advice?

[2017-03-20 14:00] gregpriday commented on #357
This is possible, but definitely wouldn't be easy. You'd need to filter the `panels_data` object to remove anything you don't want based on user role, but you'd also need to make changes to all the values to ensure it's still a valid `panels_data`.

This is the kind of thing we could add as a filter though.

[2017-03-20 14:08] Jursdotme commented on #357
I actually tried to filter the panels_data array but couldnt get it to work.

(messy half-a-solution code)
[code]

There are hooks for before and after rows. If there is a row directly on the row one could pass it thought a simple `current_user_can()` function?

[2017-03-20 14:10] #155 closed

[2017-03-20 14:16] gregpriday commented on #82
@ste93cry Aaah, @AlexGStapleton let me know I misunderstood the request. It's essentially CSS column styling for text. This is the kind of thing we could add to the Editor Widget in the Widgets Bundle. I'll take a look at this.

@brentjett awesome, thanks for stopping by to let us know.

[2017-03-20 14:19] gregpriday commented on #357
It would be a much better idea to either add a filter using a pull request or wait until I get a chance to look at it. Filtering panels_data is going to get pretty damn messy. A simple true/false filter to skip certain rows would be much easier to maintain.

[2017-03-20 14:21] gregpriday commented on #289
@AlexGStapleton so is this for any widget field?

[2017-03-20 14:21] Jursdotme commented on #357
I may very well look into adding pull request. Thank you :-)

[2017-03-20 16:08] #263 closed

[2017-03-20 16:09] gregpriday commented on #263
All done @boluda, thanks for the suggestion. This will be available in the 2.5 update.

[2017-03-20 16:19] #256 closed

[2017-03-20 16:20] gregpriday commented on #256
Well spotted @pedro-mendonca - sorry for not fixing this up sooner. The translation will be up to date in the 2.5 update of Page Builder.

[2017-03-20 16:21] gregpriday commented on #340
Duplicate of https://github.com/siteorigin/siteorigin-panels/issues/290

[2017-03-20 16:21] #340 closed

[2017-03-20 16:25] AlexGStapleton commented on #289
Looks to be it. I tried:

row id (I know this isn't desired)
CSS Style
SiteOrigin Editor widget title
Text widget Content field

All instances of `\test\` had the backslashes removed on save.

[2017-03-20 16:38] josephrajewski commented on #289
is this fix pushed out via plugin update or do I need to pull it from somewhere else to verify this is resolved on our end?

- Joe

Joseph Rajewski
Partner
303.997.8329
joe@bluebirdbranding.com <mailto:joe@bluebirdbranding.com>
 <https://www.facebook.com/bluebirdbrandingagency>  <https://www.linkedin.com/company/bluebird-branding-llc>  <https://plus.google.com/+Bluebirdbranding/about>  <https://ww

[2017-03-20 16:45] AlexGStapleton commented on #289
@josephrajewski Pull develop

With that said, I'm pretty sure Greg was asking for more information on what fields were affected rather than if a commit had fixed it.

[2017-03-20 16:50] #260 closed

[2017-03-20 16:51] gregpriday commented on #260
Okay, think I finally added this properly now. Tested and it seems to be working.

[2017-03-20 16:51] josephrajewski commented on #289
Primarily the ‘visual editor’ with HTML/JS embedded inside…
In our case, this was done in the bottom-right box in the 1st screen grab

Joseph Rajewski
Partner
303.997.8329
joe@bluebirdbranding.com <mailto:joe@bluebirdbranding.com>
 <https://www.facebook.com/bluebirdbrandingagency>  <https://www.linkedin.com/company/bluebird-branding-llc>  <https://plus.google.com/+Bluebirdbranding/about>  <https:/

[2017-03-20 17:18] AlexGStapleton opened #358 "Add Live Editor Inline editing for certain widgets"
We should add the ability to allow widgets to add a compact interface (when the relevant widget is selected via the page) to make simple content edits without having to open the widget up directly. This will allow for increased productivity and a more dynamic feel for the live editor.

An example of two widgets that would benefit greatly from this, are the SiteOrigin Editor and SiteOrigin Headline

[2017-03-20 17:18] AlexGStapleton opened #359 "Live Editor: Add ability to save and return back to normal page view"
We should add the ability to save and return back to normal page view rather than WordPress editor when live editor opened via admin bar. It seems odd that the live editor still requires you to click done, and then save the page from there. By clicking done it should simply save and return the normal view of the page.

[2017-03-20 17:18] AlexGStapleton opened #360 "Keyboard Shortcuts"
We're really dependent far too dependent on user's using mouses and this fine to a certain degree but certain things could be faster for users if they could use keyboard shortcuts. An example of this is the ability to press a key combination to bring up the add widget interface. Pressing down when you've selected a row to move to the next row, et.

Target Groups:
- For power users, keyboard shortc

[2017-03-20 17:27] boluda commented on #263
Cool!

[2017-03-20 17:28] AlexGStapleton opened #361 "Copy Content: Add the ability to filter what's copied"
In certain instances, user's (or widgets) may not wish to have certain things included in the copied content.  Things the SiteOrigin Slider which will add the pagination numbers to the copied content. Another example is, say, a slider like Meta Slider. It adds a bunch of code that users will never want to be included in the excerpt or analyzed by plugins like Yoast.

[2017-03-20 17:33] AlexGStapleton opened #362 "Copy Copy: Add ability to keep shortcodes intact when copied"
Follow up to #361. We should add the ability to keep shortcodes intact when copied rather than running them which can lead to a whole lot of undesired data appearing in the post. This normally is okay but it can prove to be problematic with plugins Yoast if invalid data is analyzed.

[2017-03-20 17:34] #361 closed

[2017-03-20 17:36] gregpriday commented on #361
I added a really basic function that other widgets can check to see if the content being rendered is for the database (in which case it shouldn't be processed). We could add more support to the Widgets Bundle to produce shortcodes instead of code for all non-text based widgets.

[2017-03-20 17:38] gregpriday commented on #362
Yeah, mostly the same implementation as #361. Resolved by https://github.com/siteorigin/siteorigin-panels/commit/d181a2b455e29be391058343233138c8f72d3dad

[2017-03-20 17:38] #362 closed

[2017-03-20 17:39] AlexGStapleton commented on #362
In hindsight, I was overthinking things. :/

[2017-03-20 20:53] #199 closed

[2017-03-20 20:54] gregpriday commented on #199
Took another look. Super simple fix. Just needed an extra check to always run when inside a dialog.

[2017-03-20 20:55] gregpriday commented on #203
We've since added this feature. It's now possible to set padding for each side, separately.

[2017-03-20 20:55] #203 closed

[2017-03-21 01:58] LittleHamster opened #363 "Any way to disable inline styles?"
Is there any way that we can disable the inline css styles? for example when adding a background color, this is added to the element:

[code]

can this be view a css file? there is numerous reasons why inline style is bad.

imagine if someone is customizing a lot of elements and having all these inline styles :(

[2017-03-21 04:26] gregpriday commented on #363
This isn't possible at the moment, but we do have an open issue for moving all styles into the generated CSS https://github.com/siteorigin/siteorigin-panels/issues/41 - you can keep track of the progress there.

I'll take a look at this today.

[2017-03-21 19:10] gregpriday commented on #41
This is resolved by https://github.com/siteorigin/siteorigin-panels/commit/f147c61bb7bf8385e0f7aee11ba67adf6f4dae27 - we'll merge this in time for the Page Builder 2.5 release.

[2017-03-21 19:10] #41 closed

[2017-03-21 19:10] gregpriday commented on #363
I've managed to resolve #41. This should be merged in time for Page Builder 2.5

[2017-03-21 19:10] #363 closed

[2017-03-22 09:33] gregpriday opened #366 "Make use of image-set for background images"
This allows us to specify multiple versions of the background image much like srcset.

https://drafts.csswg.org/css-images-3/#image-set-notation

We can use this for all Page Builder styling using `wp_get_attachment_image_srcset`.

[2017-03-22 12:21] gregpriday commented on #131
I'm going to close this for now. Unfortunately, I'm still unable to recreate it. @richardtape, if you or anyone else comes across this please feel free to post it It's possible that its been resolved with newer versions of WordPress.

[2017-03-22 12:21] #131 closed

[2017-03-22 12:24] gregpriday commented on #79
Hi @fingerprintweb - sorry I missed this issue. If you switch to using get_widget_form instead, it's called much later so you should have access to things like `get_categories`. This is what we use in our own widgets:

https://github.com/siteorigin/so-widgets-bundle/blob/develop/widgets/google-map/google-map.php#L31

[2017-03-22 12:24] #79 closed

[2017-03-22 12:27] gregpriday commented on #112
I've noticed quite a few plugins these days properly display their extra buttons without any compatibility code from our side. I'm not entirely sure what's changed, but maybe there's a more official way of registering these buttons now that makes them show up.

I'm going to close this issue for now. Unfortunately there's not much we can do in the way of adding support for custom plugins - but then

[2017-03-22 12:27] #112 closed

[2017-03-22 12:29] gregpriday commented on #236
@AlexGStapleton: is this issue still an issue? If it is, I'll take a look at it, or we can just suggest users of those plugins disable sidebar emulation.

[2017-03-22 12:30] AlexGStapleton commented on #236
I'm unsure about facetwp but The Events Calendar works now. I would presume it works now without issue.

[2017-03-22 12:30] #236 closed

[2017-03-22 12:36] #286 closed

[2017-03-22 12:38] AlexGStapleton commented on #286
Is it a good idea to completely remove the unique id check just for this? I really like the idea of a suffix if the ID isn't unique but it might not really be worth us worrying about. Hm. yeah, actually, I'm okay with this change.

[2017-03-22 12:42] gregpriday commented on #286
It's best that the user gets the ID they expect. We also have ID settings for rows, cells and widgets now, so that's a lot of unique IDs to keep track of. Also, with the current implementation, this check is run on every page load. So if we were to reimplement this, I'd want it to happen on save.

[2017-03-22 12:46] gregpriday commented on #211
The 2 values actually represent slightly different things.

The mobile width setting isn't really the value that decides when the most common mobile width is, but when the mobile view should start. So the upper end.

This means the preview would be showing the user an upper end of range, rather than the most common mobile width.

[2017-03-22 13:37] #289 closed

[2017-03-22 14:26] LittleHamster commented on #41
@gregpriday fantastic

[2017-03-22 14:36] LittleHamster opened #367 "Remove styles in header and footer and include them in a stylesheet?"
Thanks to @gregpriday the inline style attributes are now fixed.
I was wondering if you guys can look into this issue as well, so I created a couple of rows and columns and this is added to the header:
[code]

there is also one in the footer:
[code]

should these be loaded via enqueue style in a separate css file? isn't that more efficient?

[2017-03-22 14:44] gregpriday commented on #367
Yes and no. The CSS generated by Page Builder is very specific to the page. External stylesheets are great when there's a lot of shared styling. So as your user browses your site, they always have the same stylesheet cached.

For single-use CSS like Page Builder generates, it's actually more efficient to have it inline because it reduces the need for for an additional HTTP request.

That said, we

[2017-03-22 15:04] AlexGStapleton commented on #211
Ah. In hindsight, that's quite obvious. :(

[2017-03-22 15:13] #200 closed

[2017-03-22 15:14] gregpriday commented on #200
Fixed this. So now we also have a filter that allows you to specify a custom text widget. You can see how it's used in https://github.com/siteorigin/siteorigin-panels/commit/858674cc4279e7b756bdb5f461c25f25c417ea89

If no text widget is found, then the content copy doesn't happen.

[2017-03-22 15:16] gregpriday commented on #211
We can look at having a way to customize the display with the 2.6 update. That's when we'll be putting more work into the Live Editor.

[2017-03-22 15:16] #211 closed

[2017-03-22 15:45] gregpriday commented on #171
@AlexGStapleton: shouldn't this be an issue on the Widgets Bundle? If so, you can close this issue and reopen it there.

[2017-03-22 15:47] #128 closed

[2017-03-22 16:02] gregpriday commented on #174
At some point we can look at making Page Builder work without negative margins. This might be possible now with flex layouts. The main issue has always been that leaving out the negative margin causes cells to not align properly.

[2017-03-22 16:05] AlexGStapleton commented on #171
Yes. Due to it being early days at the time of posting I likely thought the features widget was in page builder. :(

[2017-03-22 16:05] #171 closed

[2017-03-22 16:12] #205 closed

[2017-03-22 16:46] gregpriday commented on #282
I'm going to take a quick look at this. Even if it specifically works with the Layout Builder, that should be fine.

[2017-03-22 17:05] #282 closed

[2017-03-22 17:05] gregpriday commented on #282
@braamgenis - think that should fix it. If you still remember the sidebars emulator stuff, then can you take a look over the commit and check if it all makes sense.

[2017-03-23 06:39] gregpriday commented on #299
I'd like to avoid adding too many extra style settings. So having 5 settings for styling would be a bit too much, also migrating these settings would require a fair amount of effort.

The cover option should have a background size set to cover though, I've changed this.

Page Builder 2.5 also improves how custom CSS is handled. It's much easier to overwrite things like background positioning using

[2017-03-23 06:41] gregpriday commented on #299
https://github.com/siteorigin/siteorigin-panels/commit/ccced0edda42daec40a9c647d7229a8e28554bb9

[2017-03-23 06:41] #299 closed

[2017-03-23 09:55] gregpriday commented on #135
Resolved via https://github.com/siteorigin/siteorigin-panels/commit/0f8307d496c63cf9ba54618bf950f377a85b0ce5

[2017-03-23 09:55] #135 closed

[2017-03-23 14:34] LittleHamster opened #368 "Where can we download beta?"
Where can we download the beta release? I checked both branches and release pages but there is no link to download the beta version. Is it just the develop branch? in few places people were talking about version 2.5 beta 1, I can't seem to find that :(

[2017-03-23 14:51] AlexGStapleton commented on #368
Hi @LittleHamster!

At this point, Beta 1 is really quite out of date and we're quickly approaching the second Beta release (current ETA being next week). If you would like to get notified of this, please sign up to our [Developer Newsletter](https://siteorigin.com/docs/page-builder/) (there's a link in the sidebar).

If you would rather try it out now, pull develop and let me know how you go mate

[2017-03-23 15:22] AlexGStapleton commented on #130
Just tried this - I can't seem to replicate this. Although, this could be due to different overall settings.

[2017-03-23 15:53] gregpriday commented on #130
It might have been resolved by WPML at some point. If we haven't seen any recent reports of this, then we can close.

[2017-03-23 15:53] #130 closed

[2017-03-23 16:07] AlexGStapleton commented on #130
This is honestly the first time I've heard of this issue so I would say it's quite likely this has been fixed.

[2017-03-24 02:10] LittleHamster commented on #368
@AlexGStapleton thanks

[2017-03-24 02:10] #368 closed

[2017-03-24 16:29] joerajewski commented on #289
Deploying this, can I simply clone this & copy/paste the files into /siteorigin-panels in my wordpress plugins folder?  Obviously after I make a backup copy of the existing production folder.

[2017-03-24 16:59] gregpriday commented on #289
@joerajewski - unless you're comfortable with the build process detailed in the developer docs, I recommend waiting for the official 2.5 release. This will be available as an automatic update through the WordPress dashboard.

[2017-03-24 17:35] joerajewski commented on #289
Greg,

Sorry I missed that option was available inside there, I’ll take a look & if it’s not obvious to me, we’ll await the release.

Thanks!

[2017-03-24 19:32] joerajewski commented on #289
Any sense on when you might release 2.5?

[2017-03-26 16:34] LittleHamster commented on #313
@gregpriday yes, that is an option too.

[2017-03-27 14:57] PrafullaKumarSahu opened #373 "Issue in default template rows"
I am using wordpress verssion 4.7.3.
Theme: Twenty Seventeen

Page Builder by SiteOrigin Version 2.4.25
SiteOrigin Widgets Bundle Version 1.8.1
Ultimate Addons for SiteOrigin Version 2.4.1

I tested it by assigning Fitness Gym layout to a page and also got the same problem with We Love Design layout . I have added the screenshot please check it.

![siteorigin issue 2](https://cloud.githubuserconte

[2017-03-27 15:20] PrafullaKumarSahu opened #374 "Unable to use new custom widget in template"
Please check [hello world widget](https://github.com/PrafullaKumarSahu/siteorigin-hello-world-widget) I added this to my page that is using fitness gym layout and I am unable to see "Hello world!" in page neither It is showing any error, how Can I make it work ?

[2017-03-28 13:14] tobada commented on #5
Thank you for your quick work. Is there a date for the 2.5 release?

[2017-03-30 08:37] andrejarh opened #375 "2.5 beta2 colapse order"
Hi,
Overall I like the 2.5 version. I also salute you for moving everything to FlexBox.
Great work.

However, the changes you made on collapse order row behaviour breaks all our theme demos,  without the possibility to rebuild it back to the way it was with current options.

**How it worked before:**
- When "Collapse Order" was set on "right on Top", the items collapsed on tablet view and also on

[2017-03-30 08:59] gregpriday commented on #375
Keeping themes that integrate with Page Builder happy, is one of our top priorities, so we'll definitely look at this.

So you have any demo content/layouts that I can use to test?

[2017-03-30 09:10] andrejarh commented on #375
Hi Greg,
I will set up a demo site for you and send you login data.

[2017-03-30 09:12] gregpriday commented on #375
Perfect. You can just sent them to greg@siteorigin.com

[2017-03-30 10:56] andrejarh commented on #375
Done.

[2017-03-31 15:47] gregpriday commented on #375
We've managed to sort out this issue. We'll be sending out another beta release on Monday with this and a few more fixes.

With the *Collapse On Mobile* setting. Are you seeing that as disabled by default? This setting should always be enabled by default, even for existing pages. I've tested this with existing pages created using the 2.4.x branch and it seems to be defaulting to `true` for me.

Ma

[2017-03-31 17:19] andrejarh commented on #375
Thank you Greg, will definitely test the new version. Did you receive my email?
I've also sent you another issue. Some of our extended code stopped working. Like this one: https://gist.github.com/andrejarh/f84e27db3f7cee1975a61f3c1b0d562a
(background color opacity)

[2017-04-02 03:12] LittleHamster opened #376 "Bootstrap columns do not collapse in the grid system"
So I have a post loop which uses bootstrap grids, basic markup is like this:
[code]
I used the PageBuilder rows and created two even columns, and added the post loop to the left column. (so bootstrap grid is inside the first column) When viewing the page, bootstrap column grid does not collapse, the output should be like this:
[code]
but it is like this:
[code]

I know PageBuilder uses its own gri

[2017-04-02 03:24] #376 closed

[2017-04-03 08:25] gregpriday commented on #375
We've moved the styling out of inline `style="..."` attributes and into the general CSS that Page Builder generates. So that filter you're using won't work. Ideally, this should be filtered earlier.

I'll look at your use case and see what filters we'd need to have to let you filter that earlier. It's already possible by filtering `siteorigin_panels_data`, but I'll look at making filters that are

[2017-04-03 17:16] gregpriday commented on #375
I've added a filter for the layout_data array, which is a nicely formatted array that contains the style values.

https://github.com/siteorigin/siteorigin-panels/commit/a3a05d19449d406694cb7d424966502234f39e36

Having a look at your implementation of background color opacity, you should be able to just change the value for the background color in this array based on the style value from your theme

[2017-04-03 21:26] LittleHamster opened #377 "has_shortcode fails for content"
When we place a shortcode inside a PageBuilder grid this check fails:

[code]

can you guys test this and release a fix? thanks

[2017-04-03 21:32] gregpriday commented on #377
This should all be working if you add the shortcode to a SiteOrigin Editor Widget using the latest Page Builder 2.5 beta and the recent update of the Widgets Bundle.

[2017-04-03 21:48] LittleHamster commented on #377
@gregpriday oh okay, was testing on `2.4.25`, I guess 2.5 is going to be a major release, do you have a timeline when it is going to be released? thanks

[2017-04-03 22:16] gregpriday commented on #377
I'm hoping for this week, but only once we're sure there aren't any major issues.

[2017-04-03 22:56] LittleHamster commented on #377
@gregpriday cool, also do you have a zip file of the 2.5 beta to share? I downloaded the developer branch and when activating I get an error. Alex told me to sign up for a newsletter. thanks

[2017-04-04 01:31] AlexGStapleton commented on #373
Sadly, this is an issue with how Twenty Seventeen structures things and it's sadly not something we reliability fix. I would recommend reporting the off-centered columns to WordPress directory as it's not directly related to the usage of SiteOrigin Page Builder and more of a general theme issue. Sorry mate. :(

[2017-04-04 08:32] PrafullaKumarSahu commented on #373
Hi Alex, thank you for your reply, I tried with [vantage](https://siteorigin.com/theme/vantage/) theme and having same issue sadly :( Can you give me more idea about this issue.

![same-issue-with-vantage-theme](https://cloud.githubusercontent.com/assets/2470646/24647814/14739d30-193f-11e7-894b-fe4fbf8b7b2e.png)

[2017-04-04 08:43] drumba opened #378 "Is the siteorigin_panels_row_cell_attributes filter gone?"
Hey guys,

I am using your pagebuilder for about 2 years now. It helped us a lot to let our content managers build there own layouts. Thanks for that. Very nice job.

I customized the pagebuilder to use the [bootstrap grid system](http://getbootstrap.com/css/#grid). To approach this I am using the `siteorigin_panels_row_cell_attributes`, `siteorigin_panels_row_style_attributes`,  `siteorigin_panel

[2017-04-04 08:55] gregpriday commented on #378
Hi @drumba - well spotted! That filter was unintentionally removed. Well, I actually renamed it, but I'll add the old filter too for legacy purposes.

[2017-04-04 09:28] AlexGStapleton commented on #373
Is the sidebar present?

[2017-04-04 11:00] Paul-Allen opened #379 "Row: going from Left to Right."
I was hoping the Left to Right feature would work on this new release.

If you change Left to Right to Right to Left and then click Set, nothing happens, it stays on Left to Right even after updating the page.

However, the responsiveness for that particular page no longer works. Each panel no longer goes 100% width on smaller screens.

[2017-04-04 11:18] gregpriday commented on #379
Thanks for reporting this @Paul-Allen - I'll take a look before the release goes out.

[2017-04-04 11:26] PrafullaKumarSahu commented on #373
@AlexGStapleton  thank you, that was causing the problem .

[2017-04-04 11:51] #231 closed

[2017-04-04 11:56] gregpriday commented on #379
So the first issue for adjusting the row left and right - this is actually just a UI issue. Because the layouts in Page Builder are completely flexible, what you have set at the top of the screen, doesn't actually represent the structure of your row. It's a tool, that allows you to set a row layout that you can then adjust.

So the task there is to change how the row dialog is displayed to make it

[2017-04-04 12:23] PrafullaKumarSahu commented on #374
`siteorigin_widget_register` function uses widget id, widget file path, and widget class name as arguments.

[2017-04-04 12:23] #374 closed

[2017-04-04 12:32] PrafullaKumarSahu commented on #373
Removing Sidebar widgets solves problem for posts but not for pages.

[2017-04-04 12:38] gregpriday commented on #377
I sent out a beta 3 to the newsletter this morning, but you can download it here: http://siteorigin.com/wp-content/uploads/2017/04/siteorigin-panels.beta3_.zip

[2017-04-04 12:56] Paul-Allen commented on #379
No problem Greg.

The responsive issue is definitely not cache related.

The responsiveness was working fine on a site I'm testing on. When I set the row to Right to Left then click update the responsive issue appears.

If I go to another page there is no problem with responsiveness.

If I then make the Right to Left change on this page then the responsive issue appears again.

I'll create a publi

[2017-04-04 13:18] gregpriday commented on #379
Great. I'll log in and take a look.

[2017-04-04 13:46] #378 closed

[2017-04-04 13:48] Paul-Allen commented on #379
Most strange, I can't seem to recreate the issue on a public URL.

I have identical set up to the local version and the issue does not exist.

What I've noticed on the local site now is when I change Right to Left it disables Collapse on Mobile in the layout settings.

If I now enable this all is working as expected.

If I now change Right to Left again the responsiveness works as expected.

Very

[2017-04-04 13:48] gregpriday commented on #378
I readded the filter. Can you check if this fixes things for you. One thing to note, is that we changed our layouts from floats to flexbox. This might change things with your plugin - but hopefully, you're already removing all our CSS to use Bootstrap instead.

Let me know if you need me to make you a build. If you just replace `inc/renderer.php` with the version from `develop`, you should be able

[2017-04-04 14:06] LittleHamster commented on #377
thanks @gregpriday :)

[2017-04-04 14:06] #377 closed

[2017-04-04 14:54] d--j opened #380 "Live Editor: Multiple SiteOrigin Panels on page break auto-scrolling"
If you have multiple SiteOrigin Panels on a Page (e.g. you use the Layout Builder in a widget area) then the auto-scrolling (hover over row/widget in the left area with mouse) scrolls to the last instance of SiteOrigin Panels (that is almost always the Layout Builder in the widget area.

Maybe changing
https://github.com/siteorigin/siteorigin-panels/blob/2.4.25/js/siteorigin-panels/view/live-edito

[2017-04-04 15:01] gregpriday commented on #380
This is actually fixed in develop. There's a 2.5 release coming in the next few days.

https://github.com/siteorigin/siteorigin-panels/commit/6e5719915b35b90bb153b87e1a9fa03fec5302a6

[2017-04-04 15:01] #380 closed

[2017-04-04 15:52] andrejarh opened #381 "beta 3 adding widgets bug"
I just noticed a weird bug in beta3.

If I add a row with two columns, then try to add a widget in the right column, it adds it to the column on the left instead.
Here is a demonstration: http://jmp.sh/tLSbKZJ

[2017-04-04 15:56] andrejarh commented on #375
Thank You Greg.
I will look into this and modify our code.
I noticed a lot of features just work better in beta 3.

I can't thank you enough.

[2017-04-04 15:56] gregpriday commented on #381
Well spotted @andrejarh! I'll get this fixed up.

[2017-04-04 15:56] #375 closed

[2017-04-04 16:05] #381 closed

[2017-04-04 16:05] gregpriday commented on #381
There was just a small error in one of the checks. I fixed this up.

[2017-04-04 16:06] gregpriday commented on #375
Very glad to hear it! Yeah, we managed to fix a lot of issues between beta 2 and beta 3. I'm fixing a few more today, so this should be a very smooth, stable release.

[2017-04-05 12:18] gregpriday commented on #373
You'd need to pick a page template that offers full width. Page Builder just occupies the entry-content space provided to it, so it's up to the theme to decide how to display this. You'd need to research creating full-width pages in Twenty Seventeen, or find a theme that supports this functionality out the box.

[2017-04-05 12:18] #373 closed

[2017-04-05 13:27] PrafullaKumarSahu commented on #373
@gregpriday if a sidebar contains no widget in that case for post everything is working just expected and for page it is not working, which seems quite odd to me, yes, I can create a full width template and use it, I understood it, but I am using with vantage theme now. thank you for your reply.

[2017-04-05 15:35] gregpriday commented on #259
This might work with the new caching option - which maintains shortcodes and runs its filter earlier. This will be coming out in the 2.5 release.

[2017-04-07 04:01] LittleHamster commented on #378
@drumba did you create a bootstrap grid plugin? can you please open-source your plugin so we can use it too? thanks

[2017-04-07 07:49] drumba commented on #378
@gregpriday Thanks for you fast change and sorry for my late reply. I just tested it and it's working perfectly. Thanks for that.

@LittleHamster It's not a standalone plugin, it's part of our core plugin and it is only supporting a subset of the bootstrap grid. For us it doesn't make sense to support every grid combination. So I guess it's not that useful for the hole community. But if you are in

[2017-04-10 10:28] andrejarh opened #382 "Extending PageBuilder - static blocks"
Hi,

1. I built a custom post type "Static blocks". With the intention to create reusable blocks of content. This is particularly useful in situations when a single block appears in multiple places on the site and you want to be able to change it only in one place.

2. I also created a custom widget (built on SiteOrigin widget bundle) to display this blocks.

**The issue:**
When a user uses Page B

[2017-04-11 04:58] LittleHamster commented on #377
@gregpriday the release got delayed?

[2017-04-11 09:46] andrejarh commented on #382
Update:
As I figured out, the only real issue here is wp_kses_post filter.

But for ThemeForest everything must be escaped, so need to figure out how to safely escape the content, without using the  wp_kses_post filter

[2017-04-11 11:54] #382 closed

[2017-04-11 15:54] andrejarh commented on #377
Thumbs up for:  "A properly tested release is better than a rushed release."

Will there be another beta or RC for us to test or direct release?

[2017-04-12 09:23] AlexGStapleton opened #384 "Flex Issue: SiteOrigin Post Carousel widget extends the page length when using FireFox"
With the new flex layout, the SiteOrigin Post Carouse widget extends the full length of the page when using FireFox

[Reference site](http://alex.siteorigin.net/siteorigin-post-carousel-widget-extends-the-page-length-when-using-firefox/)
[Reference layout](https://u.teknik.io/2ooT6.json)

Chrome:
![](https://i.imgur.com/uNKDss4.png)

FireFox:
![](https://i.imgur.com/tW1RmwJ.png)

I'm using FireFox

[2017-04-12 09:59] AlexGStapleton opened #385 "WP-Optimize issue introduced in 2.5"
SiteOrigin Page Builder is having issues with WP-Optimize when it optimizes the data. Leading to a blank page:

![](https://i.imgur.com/FUSRbHE.png)

This issue disappears after its done (as in, the stylesheets load and this error doesn't occur) but if this page is cached by a plugin during this time, the user will have _major_ issues.

There are two different error notices, the first isn't so imp

[2017-04-12 11:02] LittleHamster opened #386 "Hovering over the gear icon to edit the row is buggy"
I have a very hard time hovering over the gear icon and then click the Edit Row/Duplicate Row
when I hover over the gear icon, then move the mouse to click on Edit Row/Duplicate Row, the selection disappears.

Is this a bug? do you guys have this issue?

![giphy](https://cloud.githubusercontent.com/assets/10330481/24954491/a3bb8d22-1f4d-11e7-94db-01ec3bd81520.gif)

[2017-04-12 11:07] gregpriday commented on #386
That dropdown should be coming up when you hover over the icon, not when you click. Clicking should bring up the row edit dialog.

[2017-04-12 11:08] LittleHamster commented on #386
@gregpriday that is correct, the title should have said hover over the icon

[2017-04-12 11:13] LittleHamster commented on #367
@gregpriday thanks for taking a look at this, it would be great to have an option to include all of these (all styles for different pages, posts) in a single style.css file.

[2017-04-12 11:23] gregpriday commented on #386
Can you try doing a hard clear of all your browser cache? If you're using
Chrome, then testing in incogneto mode is a good way to ensure there's no
cache.

On Wed, Apr 12, 2017 at 1:08 PM, LittleHamster <notifications@github.com>
wrote:

--
I make free WordPress themes
http://siteorigin.com

[2017-04-12 17:07] LittleHamster commented on #386
@gregpriday thanks, that seemed to have resolved the issue :)

[2017-04-12 21:34] AlexGStapleton commented on #386
To be honest, I do think this is an issue as I've received a few reports (over premium support) and I'm experiencing it also.  Clearing the cache or trying a different browser didn't help in any of these instances either.

To clarify, it's fine on load and then shortly after it starts to be really hard to use. @gregpriday Are you not able to replicate this at all?

[2017-04-12 22:55] LittleHamster commented on #386
@AlexGStapleton yeah you are right, after the first load it works and then same problem again.

[2017-04-13 09:40] gregpriday commented on #386
I'll take a look. It could have something to do with the new color labels.

[2017-04-13 13:24] gregpriday commented on #386
We've fixed this in develop

[2017-04-13 13:25] #386 closed

[2017-04-13 13:30] gregpriday commented on #385
@AlexGStapleton what are the exact steps to recreate this issue? I've installed the plugin and run an optimization, plus viewed a Page Builder page. Not sure where or when this is coming up.

[2017-04-13 16:28] LittleHamster commented on #41
@gregpriday sorry to bother you again but I think this does not work when layout is set as full width.
example

[code]

so once the layout is changed from standard to full width, there is still an inline style for that row. Is this intentional? can this be like other rows and have the style in the header? thanks

[2017-04-13 17:52] gregpriday commented on #41
Yeah, that's added by Javascript.

On Thu, Apr 13, 2017 at 6:28 PM, LittleHamster <notifications@github.com>
wrote:

--
I make free WordPress themes
http://siteorigin.com

[2017-04-14 00:50] AlexGStapleton commented on #385
I, uh, enabled it and then viewed the home page which was set up to display the full content of a bunch of recent posts. Could this issue actually be related to generating things for a bunch of posts all at once rather than WP-Optimize?

Admitally, I haven't had any issues since posting and I've had WP-Optimize enabled the entire time.

[2017-04-14 03:25] cartpauj commented on #315
For anyone looking to do this after the latest update.

[code]

[2017-04-14 05:59] gregpriday commented on #384
@AlexGStapleton can you check this in the latest develop branch? Should be fixed. Do you have the build script all setup?

[2017-04-14 07:37] gregpriday commented on #315
There's actually a new caching mechanism in Page Builder 2.5 that has the_content filter running at 1. This was done to help with compatibility with other plugins, but it's disabled by default incase it caused unforeseen issues with existing layouts.

Just navigate to Settings > Page Builder in your WordPress admin, and enable the Content Cache setting.

[2017-04-14 07:43] gregpriday commented on #385
I fixed up that warning from `SITEORIGIN_PANELS_BASE_FILE`. That was coming up with legacy widgets.

For the infinite loop, it looks like that's happening with an interaction between Yoast SEO, Page Builder and WP Optimize. The one thing we can suggest for users seeing this conflict is enabling the new Page Builder cache.

So if they navigate to Settings > Page Builder and enable *Content Cache*.

[2017-04-14 07:50] AlexGStapleton commented on #384
Just tried it - all good mate.  👍

[2017-04-14 07:54] AlexGStapleton commented on #385
Sweet. If this comes up again, I'll suggest the Contact Cache as a potential solution. I think that'll do for now.

[2017-04-14 07:59] gregpriday opened #388 "Improve error handling with import/export"
We should have improved error logging and handling with importing/exporting layout JSON files.

[2017-04-14 08:02] gregpriday commented on #385
@braamgenis is taking a little look at this, if he can't figure it out, then we can move on for now.

[2017-04-14 08:03] gregpriday commented on #384
Feels good to win

[2017-04-14 08:03] #384 closed

[2017-04-14 16:30] andrejarh opened #389 "beta 3 HTML validation issues"
Hi,
While building a new theme on latest beta, I tried validating the site with [W3C HTML validator](https://validator.w3.org).
This came out.

I know it isn't a performance issue, as browsers know how to handle this, but such theme would get rejected for validation errors on WP.org or ThemeForest:

![screen shot 2017-04-14 at 18 25 35](https://cloud.githubusercontent.com/assets/10053621/25049081/

[2017-04-14 16:38] #389 closed

[2017-04-14 16:38] gregpriday commented on #389
Well spotted. I fixed this up.

[2017-04-15 05:27] LittleHamster opened #390 "Page break between two widgets not working"
I don't know if this is a known issue but I couldn't find anything in the issues so I opened up this issue. If you have a layout and you try to insert `` you will get all contents in all pages.

For example create a row with SiteOrigin Editor widget.
[code]
you will see the page navigation but both contents are visible in all pages.

This method also does not work if you want to do a page break be

[2017-04-15 13:24] gregpriday commented on #390
This is a known issue, but it's possible it will work caching mode enabled.
This filters post content much earlier, so might be compatible. I haven't
checked yet though.
On Sat, 15 Apr 2017 at 7:27 AM, LittleHamster <notifications@github.com>
wrote:

[2017-04-15 18:35] LittleHamster commented on #390
@gregpriday I do have that option enabled, but still not working.
also there is an issue reported [here](https://siteorigin.com/thread/page-builder-and-next-page-issue/) 2 years ago. Can this issue be on the road map to be fixed in the next release?

[2017-04-16 12:01] gregpriday commented on #390
Yeah, as I mentioned this is a known issue. We do welcome pull requests if
you'd like to take a look at implementing it.
On Sat, 15 Apr 2017 at 8:36 PM, LittleHamster <notifications@github.com>
wrote:

[2017-04-17 05:01] LittleHamster opened #391 "High number of post queries"
I just saw [this review](https://wordpress.org/support/topic/poor-coding-standards/) and also I don't appreciate when people leave bad reviews for not being able to use a plugin, I got concerned when I got similar results.

### Issue:
When using [Query Monitor](https://en-ca.wordpress.org/plugins/query-monitor/) the number of post queries by SiteOrigin is very very high. In the review the person g

[2017-04-17 05:15] gregpriday commented on #391
I posted a reply to that review. Yeah, reporting issues like this is best done here on Github, rather than a 1 star review - but different people have different methods.

Page Builder lets you add any kind of widget you want to a page, but each widget is dynamically generated. So the widget is allowed to make any calls it likes and it seems like these calls are attributed to Page Builder by that p

[2017-04-17 05:21] AlexGStapleton commented on #391
@LittleHamster What is the page you're testing? I ask as I got similar results to Greg and all of the queries make sense.

![](https://i.imgur.com/i3wyMqG.png)

Those 4 queries are the standard queries run when you load a page. To be honest, I'm unsure why they're directly associated with SiteOrigin Page Builder as they're most definitely not.

[2017-04-17 05:52] LittleHamster commented on #391
@gregpriday thanks for the quick investigation. I got similar results when using the SiteOrigin Editor.  But as soon I put some Post Loop widgets then the number increases,

@AlexGStapleton the page I tested which returned 76 queries has the following widgets:
-  5 Post Loop Widgets
- 4 SiteOrigin Editor Widgets
- 3 SiteOrigin Headline widgets

and here are the number of posts returned for each po

[2017-04-17 06:04] LittleHamster commented on #391
I just did some more testings and using visual composer I created two post loops and each returned 10 posts (20 posts in total) and here are the query results:

<img width="827" alt="screen shot 2017-04-17 at 2 00 20 am" src="https://cloud.githubusercontent.com/assets/10330481/25080400/cf02bac4-2311-11e7-8470-3f9f3cf1622e.png">

I created two post loops widget using PageBuilder with 10 posts each

[2017-04-17 06:07] AlexGStapleton commented on #391
Would it be possible for you to send me an export of your test page? To do this open up the page with the widget and click layout in the Page Builder toolbar. Then click import/export and then click download. Please upload the export to a 3rd party file hosting site such as <a href="https://upload.teknik.io/">teknik.io</a>.

Please note that Visual Composer handles things in a much different manne

[2017-04-17 06:18] LittleHamster commented on #391
@AlexGStapleton sure,
here is the [json output](https://u.teknik.io/rszwC.json)
and here is the [loop template](https://raw.githubusercontent.com/Automattic/_s/master/template-parts/content.php) used in the Post Loop widget

[2017-04-17 06:26] rohitmanglik commented on #391
Hi Team,

Thanks for debugging into the issue. I was not aware of your GitHub Support. I will definitely update the rating.

I can understand that you it's tough to reproduce the issue. Probably because of old site or high content I can getting that many queries. I have a production parallel environment whose credentials I can provide for debugging if that helps. Let me know where to send the deta

[2017-04-17 06:31] gregpriday commented on #391
Thanks, @rohitmanglik - an updated rating would mean a lot. We're not that active on WordPress.org because it's difficult for our team to collaborate effectively there, like we're able to do on our own forums and on Github.

If you send credentials to support@siteorigin.com, either @AlexGStapleton or I will take a look.

[2017-04-17 07:03] AlexGStapleton commented on #391
@LittleHamster Hm. Let's try testing a basic page instead of as the post loop as when using the_content() it'll process the data for every post in the loop. In other words, the high query count makes sense as _every_ one of those pages is being loaded. This isn't a normal situation as normally users would use the_excrept() instead.

[Try giving this layout a try](https://u.teknik.io/UaKD1.json). I

[2017-04-17 10:53] suganyaselvakumar opened #392 "composer packagist compatible"
I want to know your plugin support a composer [packagist](https://packagist.org/). If yes means give a keyword to search to get the package.

[2017-04-18 06:25] rohitmanglik commented on #391
Hi,

I sent the credentials just now and updated the review.

@gregpriday and @AlexGStapleton can you please confirm and help me with next steps.

[2017-04-18 11:50] AlexGStapleton commented on #391
@rohitmanglik Did you receive my reply? For reference, it was:

Oddly, I'm getting a 502 Bad Gateway error when trying to log in via /login/
Is there an alternative link I can use to log in with?

Based on your the linked page, I suspect the high query count may come down to the shortcodes and widgets being added by SiteOrigin Page Builder. Basically, I think they're being wrong attributed to Site

[2017-04-18 18:50] rohitmanglik commented on #391
@AlexGStapleton I am sorry for delay. Yes, I received your reply.

The staging server I gave you was not updated in last 2-3 months so it gained some issues. I ran command to replicate the production server. It will take around 5 hours before it starts working again (size of my website is 60GB).

Once it's ready, I will let you know.

Thanks for your patience and looking into the issue in priority

[2017-04-19 07:23] AlexGStapleton opened #393 "Copy Styles Setting is unable to be changed"
[Reported here](https://siteorigin.com/thread/copy-styles-pb-option-not-turning-on/)

For whatever reason, you're unable to change the **Copy Styles** Content Page Builder Setting.

[2017-04-19 08:22] #393 closed

[2017-04-20 08:25] AlexGStapleton opened #394 "Max Mega Menu: Layout Builder can no longer be opened in Mega Menu editor Interface"
Since 2.5, user's are no longer able to edit the Layout Builder added to a [Max Mega Menu](https://en-au.wordpress.org/plugins/megamenu/) (100k). When the user clicks the Open Builder button, nothing happens. There's no direct reference to anything in the console, outside of Max Mega Menu reporting that the widget has been saved.

Once Max Mega Menu is installed, [please refer to this video](https

[2017-04-23 18:28] LittleHamster opened #396 "Legacy layout engine fails to detect older browsers"
I set "Use Legacy Layout Engine" to "Detect Older Browsers" because of compatibility issues. I tested on Firefox 5 and 17 and it fails to detect and use floats instead of flex boxes. So everything is left aligned. I had to change it to "always" to get it working.

I also use a cache plugin if that changes anything. Anyone else had this issue?

[2017-04-23 19:33] gregpriday commented on #396
A caching plugin will more than likely break this feature. Have you tested with the caching plugin disabled? I'll investigate if caching plugins have a way of disabling cache in certain instances.

[2017-04-23 20:39] LittleHamster commented on #396
@gregpriday I have not tested with caching disabled. I tried to test it with/without it and I can't install caching plugin on localhost. Just the live site where I set it to "always" and it is working.

[2017-04-24 06:08] vipii opened #397 "Advanced Custom Fields"
Hello,

I am using https://nl-be.wordpress.org/plugins/acf-page-builder-field/ on my WordPress.
But since the latest update I am getting this error:
Fatal error: Call to undefined function siteorigin_panels_generate_css() in /wp-content/plugins/ACF-Page-Builder-Field/acf-page-builder-field.php on line 268

How can this be fixed?
Line 268:

if( !isset($acf_siteorigin_panels_inline_css[$post_id]) )

[2017-04-24 06:23] vipii commented on #397
Full file:
https://pastebin.com/b3BV7zTh

Where does it needs to be updated and into what?

[2017-04-24 06:31] AlexGStapleton opened #398 "Better WordPress Minify: No longer compatible"
As of 2.5, [Better WordPress Minify](https://wordpress.org/plugins/bwp-minify/) (90k), no longer works with SiteOrigin Page Builder. When active, things don't style correct correctly. As far as I can tell, there's no consistent design issue (it might be X on this site and it might be Y on another site) so I can't make a specific recommendation for what to look for, only that it will be obvious.

[2017-04-24 11:56] gregpriday commented on #397
Thanks for letting us know about this. It looks like that plugin was relying on a function that we removed in a refactor. I've readded it, so everything should be working properly in the next update. Keep an eye out for 2.4.3.

https://github.com/siteorigin/siteorigin-panels/commit/c8da173f270c797980774cbbe4eb144d847daa63

[2017-04-24 11:56] #397 closed

[2017-04-24 19:15] AlexGStapleton commented on #391
Sorry for the delayed reply.

After running extensive tests on @rohitmanglik I've found as we're the interface/method that's being used to add widgets and shortcodes to the pages, we're being incorrectly being attributed with the resulting queries. An example of this is this screenshot which are the largest queries of all of the queries present on @rohitmanglik's home page:

![](https://i.imgur.co

[2017-04-24 19:28] rohitmanglik commented on #391
Hi @gregpriday,

Thanks a lot for the analysis. This makes sense. Probably you can contact Query Monitor to make a few SiteOrigin related changes. It will also help us in finding out which plugin is consuming major chunk of our resources.

I already updated review in Wordpress Forums. Thanks for your support.

[2017-04-25 04:58] vipii commented on #397
Can you confirm that the rest of the code will work also?
Like "siteorigin_panels_start_style_wrapper"?

Thanks!

[2017-04-25 05:53] AlexGStapleton commented on #397
It looks like the developers are working on 2.5 support Angrycreative/ACF-Page-Builder-Field#11

[2017-04-25 08:42] bullpillaren commented on #397
Hi! Yes, we are working on support for 2.5. It's just a hotfix thoug,. we'll probably do a rewrite of the plugin sometime soon.

Anyway, the hotfix will probably be released sometime today.

[2017-04-25 08:48] AlexGStapleton commented on #397
@bullpillaren Awesome! :) Let me know if you run into any issues with any of the code changes in SiteOrigin Page Builder.

[2017-04-25 09:36] AlexGStapleton commented on #398
Never mind. This is a configuration issue.

This is a configuration issue with related to Better WordPress minify. This can be fixed by navigating to **WP Admin > BWP Minify > Enqueued Files** and find **front-flex.css** and select it. Click **Not Minify** and then Save.

![](https://i.imgur.com/5ahOdHt.png)

[2017-04-25 09:36] #398 closed

[2017-04-26 13:01] andrejarh opened #399 "Cell vertical alignment - Stretched bug in Safari"
Stretched vertical alignment doesn't seem to work as it should on Safari.
here is example from Chome:
<img width="691" alt="screen shot 2017-04-26 at 14 58 54" src="https://cloud.githubusercontent.com/assets/10053621/25435669/1a7def74-2a91-11e7-8dc6-683866558855.png">

And here from Safari:
![screen shot 2017-04-26 at 14 58 21](https://cloud.githubusercontent.com/assets/10053621/25435678/25bb8dd8-

[2017-04-26 13:21] AlexGStapleton opened #400 "Widget settings/data conenction issue error screen"
We should start checking if the Ajax for the panels widget settings fails to load and if it does, we should offer helpful troubleshooting advice.

Currently, user's will see an infinite loading circle suggesting that the widget settings are still trying to load when in reality it'll never compete because of one reason or another. Instead, we should add a message stating something like: "Unfortunat

[2017-04-26 13:22] AlexGStapleton commented on #399
Do you have a public URL where we can take a look at that page for reference?

[2017-04-26 14:19] andrejarh commented on #399
Yes, of course.
You can check it here: http://recycle.orionthemes.com/new-demo-1/home-2/

[2017-04-26 15:31] vipii opened #401 "SiteOrigin IE Support"
When will there IE support?
Because the pages look really terrible in IE made with this plugin :/

[2017-04-26 15:33] vipii commented on #401
After the update our pages are like this:
https://www.cheops.be/onze-aanpak/

[2017-04-26 15:35] #401 closed

[2017-04-26 15:36] gregpriday commented on #401
We've tested with IE, all the way back to version 8 using Browser Stack. Can you give more specific examples of how it's not rendering properly for you? Are you having issues with layouts or the widgets placed in layouts?

[2017-04-26 15:38] vipii commented on #397
We have updated the plugin and it looks like most of the issue's are gone.
Still this one is showing:

Warning: explode() expects parameter 2 to be string, array given in /home/cheopsbe/public_html/wp-content/plugins/siteorigin-panels/inc/styles.php on line 337

Warning: array_merge(): Argument #2 is not an array in /home/cheopsbe/public_html/wp-content/plugins/siteorigin-panels/inc/styles.php on

[2017-04-26 18:02] AlexGStapleton commented on #399
Ah, I knew that face was familiar. Really like the look of that theme by the way. 👍

Would it be possible for you to send me an export for this page? To do this open up the page with the widget and click layout in the Page Builder toolbar. Then click import/export and then click download. Please upload the export to a 3rd party file hosting site such as <a href="https://upload.teknik.io/">teknik.i

[2017-04-27 07:15] andrejarh commented on #399
Thank you Alex.
What is your email address? I've set up a demo, and want to create an account for you to check.

I am not sure if exporting the layout would help much, as we have custom widgets and options in the theme. But you can try anyway if you wish. Here is the json file: [downloads.orionthemes.com/share/layout-27042017.json](http://downloads.orionthemes.com/share/layout-27042017.json)

Kind

[2017-04-27 07:34] AlexGStapleton commented on #399
Ah, yeah that make sense. Please use support@siteorigin.com.

[2017-04-27 07:48] andrejarh commented on #399
Done, credentials should already be on your mail.
Thanks!

[2017-04-27 09:34] vipii opened #402 "Warning: explode() expects parameter 2 to be string, array given in /home/cheopsbe/public_html/wp-content/plugins/siteorigin-panels/inc/styles.php"
Need a hotfix for this issue:

Warning: explode() expects parameter 2 to be string, array given in /home/cheopsbe/public_html/wp-content/plugins/siteorigin-panels/inc/styles.php on line 337

Warning: array_merge(): Argument #2 is not an array in /home/cheopsbe/public_html/wp-content/plugins/siteorigin-panels/inc/styles.php on line 337

Being displayed on:
https://www.cheops.be/over-cheops/

Can't

[2017-04-27 09:36] AlexGStapleton commented on #402
This is related to #397

Based on [the plugin's forums](https://wordpress.org/support/topic/latest-site-orgins-update-causes-fatal-error/) this is likely related to their implementation and not related to SiteOrgin Page Builder specifically.

[2017-04-27 10:53] gregpriday commented on #402
It seems like this error is related to improper arguments coming into the `general_style_attributes` function. As @AlexGStapleton pointed out, these arguments are coming from outside Page Builder. Page Builder gets the value of `$style[ 'class' ]` from a string input field, so it'll always be a string.

These are just warnings, you can disable error reporting on your site to get rid of them. This

[2017-04-27 10:56] #402 closed

[2017-04-28 17:19] #391 closed

[2017-05-01 10:20] AlexGStapleton opened #404 "Saving Previews will actually save page"
Making a change via Page Builder and then previewing said change will actually save the page. This was previously not the case. This issue is not related to the content cache.

[2017-05-02 14:13] AlexGStapleton opened #405 "Post Selector: Ability to specify current day, month, year."
A semi-common request for the additional field is the ability to set relevant current dates, for example, day, month, year, etc. An example use case would be if I wanted to include all posts I posted last week in a post loop I would currently have to manually update the date range every week.

[Slack reference](https://siteorigin.slack.com/archives/C02SYBBH2/p1493732957835081)

[2017-05-02 14:21] AlexGStapleton commented on #405
Whoops. siteorigin/so-widgets-bundle#466

[2017-05-02 14:21] #405 closed

[2017-05-02 14:33] bullpillaren commented on #397
@vipii Have been working on a fix for this [here](https://github.com/Angrycreative/ACF-Page-Builder-Field/tree/PB-2.5-fix). You're more than welcome to test it out!

[2017-05-03 09:39] AlexGStapleton opened #406 "Legacy Layout: Collapse Order doesn't work"
The Legacy Layout doesn't currently allow for the collapse order to be changed. This is problematic as certain layouts need to be displayed in a certain order on mobile devices to look correctly.

[2017-05-03 14:00] bullpillaren commented on #392
It's available on [wpackagist](https://wpackagist.org/), just search for siteorigin-panels.

[2017-05-04 00:54] suganyaselvakumar commented on #392
Thanks, I got it.

On 03-May-2017 7:30 PM, "Viktor Fröberg" <notifications@github.com> wrote:

[2017-05-04 11:40] imdeea opened #407 "Possible to make custom preset rows?"
Hi,

Working on a project where my client has a couple of sections that will repeat across the site, but with different text. Is there a way to make preset row types? (meaning I can have the row settings like attributes, layout, etc or others already set and widgets already added)

I know there's a _prebuilt layout_ option, but my problem with that is that my client might want to update a particul

[2017-05-04 13:12] andrejarh opened #408 "live editor js error"
While working with live editor, I occasionally get this error:
![screen shot 2017-05-04 at 14 58 07](https://cloud.githubusercontent.com/assets/10053621/25704849/70625bdc-30db-11e7-9a00-686ea76076a1.png)

I don't know how why exactly it appears or how to replicate it. If I notice some logic why this error is appearing, I will send more info.

[2017-05-04 14:16] andrejarh commented on #408
Also, while we're at it, not an error, but still:

![screen shot 2017-05-04 at 16 13 50](https://cloud.githubusercontent.com/assets/10053621/25707833/0a31acbe-30e5-11e7-8827-1bb5c145c07e.png)

[2017-05-04 14:39] andrejarh commented on #408
additional errors (live editor)
![screen shot 2017-05-04 at 16 36 20](https://cloud.githubusercontent.com/assets/10053621/25708917/3165ffa8-30e8-11e7-9c23-38b0af9c2ef7.png)

[2017-05-04 15:33] AlexGStapleton opened #409 "."
Pressed enter too soon. :(

[2017-05-04 15:57] #409 closed

[2017-05-09 12:06] AlexGStapleton commented on #174
This is resolved as of 2.5 due to the new flex based layout, or do you still think it's worth fixing this for the legacy renderer?

[2017-05-10 12:24] AlexGStapleton opened #411 "Post Loop: Look into adding support for Genesis"
When a user is using [Genesis](https://my.studiopress.com/themes/genesis/), the post loop widget will not pick up on any templates (read: your theme does not have any post loop). [A user in the past](https://siteorigin.com/thread/page-builder-genesis-framework/) has suggested that creating a template file with [genesis_standard_loop()](http://genesis.wp-a2z.org/oik_api/genesis_standard_loop/) pres

[2017-05-10 22:42] ste93cry opened #412 "Add new filters to print custom HTML inside of the row element"
I'm raising this issue because I found out some difficulties in adapting the builder to print a custom structure. In particular, I would like to add custom HTML after the opening tag of a row and obviously before the closing tag. Currently there is a filter called `siteorigin_panels_before_row` that can print HTML, but as the name says it's executed too early, and the same applies to the `siteorig

[2017-05-12 12:08] suganyaselvakumar opened #413 "Is there $widget['panels_info']['cell_index'] removed from version2.5.0?"
Hi,

I am using your pagebuilder for about 2 and half years now. It helped us a lot and build there own layouts. Thanks & Very nice and brilliant job.

Is there $widget['panels_info']['cell_index'] removed from version2.5.0?

I customized page builder using filter "siteorigin_panels_css_object".(e.x)
 /* Widget text decoration */
foreach ($panels_data['widgets'] as $widget_id => $widget) {

  if (

[2017-05-12 15:32] gregpriday commented on #413
It wasn't intentionally removed - it's still being generated [here](https://github.com/siteorigin/siteorigin-panels/blob/develop/siteorigin-panels.php#L456). Maybe there's a situation where it's not available though. Which action or filter are you using to trigger your code?

[2017-05-12 22:46] rogerlos opened #414 "Layout identifier"
Is it my imagination, or is a pre-built layout identifier not available anywhere within the plugin?

For example, if I have a pre-built layout "foo" users can put into their page, there is not a single place the plugin ever references that identifier, once the user has selected it in the admin editor? It's not saved in the page postmeta, it's not incorporated into the panel id, it's not added as a

[2017-05-13 04:28] suganyaselvakumar commented on #413
Hi,

Thanks for the quick response.
I used "siteorigin_panels_css_object" filter and for your reference attached the file here.
[example-code.txt](https://github.com/siteorigin/siteorigin-panels/files/998338/example-code.txt)

Thanks @gregpriday

[2017-05-13 05:39] suganyaselvakumar commented on #413
Page Builder Data doesn’t show up in HTML source

After update the v.2.5.0 ,
the problem is that it isn’t showing the Page Builder Data in the HTML Source, even when I put the two lines in my wp-config,php to enable the debug mode:
define('SITEORIGIN_PANELS_NOCACHE', true);
define('SITEORIGIN_PANELS_DEV', true);

less than v.2.5.0 is working fine.

[2017-05-13 09:20] andrejarh opened #415 "outdated FontAwesome"
Hi,
I just noticed pagebuilder still uses version 4.6.3 of FontAwesome.
Currently version if FA is 4.7.0  where 41 new icons were added.
![screen shot 2017-05-13 at 11 20 05](https://cloud.githubusercontent.com/assets/10053621/26024243/2f9c05a4-37ce-11e7-9d87-be6839d31c06.png)

[2017-05-16 09:43] AlexGStapleton opened #416 "WP Recipe Maker: If wp_update_post() is used via save_post, run check to ensure we're not adding page builder data to different post"
[This issue was reported here](https://siteorigin.com/thread/conflict-with-another-plugin-since-update/).

Basically, [WP Recipe Maker](https://en-au.wordpress.org/plugins/wp-recipe-maker/) (3k) is creating/updating a recipe on saving based on selected data. It does this by using wp_update_post() save. As a result of this, we're triggering an infinite loop as the updated post also calls save_post

[2017-05-16 09:50] AlexGStapleton commented on #415
Hi @andrejarh,

To confirm, are you refering to the icons included with the SiteOrigin Widgets Bundle? If so, the latest icons will be included in the next WB update. Reference: siteorigin/so-widgets-bundle#474

[2017-05-16 11:15] andrejarh commented on #415
Great!
Yes, I was referring to the bundle... sorry for confusion.

[2017-05-17 16:05] AlexGStapleton opened #418 "Content Cache: Password Protected pages don't work"
When the content cache setting is enabled, password protected pages display nothing rather than the password form.

You can see this issue [here](http://alex.siteorigin.net/content-cache-password-protected-post-test/).

[2017-05-22 16:32] katart opened #419 "PHP Notice: Undefined index: row_styles"
I've been using some custom code to add a Select field to add custom options to a Row Style. Here is the code:
[code]
This code is throwing the following error:

[code]

Line 223 is `if( $args['row_styles'] != 'default-row-style' ) {`
Line 224 is `array_push($attributes['class'], $args['row_styles'] );`

Any ideas why?

[2017-05-22 17:07] AlexGStapleton commented on #419
That's happening as $args['row_styles'] doesn't exist. You should change line 223 to:

`if( ! isset( $args['row_styles'] ) || $args['row_styles'] != 'default-row-style' ) {`

Change line 224 to something other than array_push. Maybe something simple like:
`$args['row_styles'] = $attributes['class'];`

[2017-05-22 18:08] katart commented on #419
Thanks for the tip @AlexGStapleton.

If I don't use `array_push()` then only the selected option would be the class set for that element. I want to add a new class to the element without removing the default classes inserted by the Site Origin plugin. Is that correct?

[2017-05-22 18:39] katart commented on #419
@AlexGStapleton I'm still getting the PHP Notice with your modified code.

The code works fine (the selected row_styles class is being inserted into the element, but PHP Notice is still being written to the debug.log.

[2017-05-22 21:16] AlexGStapleton commented on #419
Ah. I see what you mean now. Replace line 223 to:

`if(  isset( $args['row_styles'] ) && $args['row_styles'] != 'default-row-style' ) {`

Replace 224 with:
`$attributes['class'][] =$args['row_styles'];`

Oh. I, for whatever reason had thought you wanted to replace the classes. Replace the array_push line with:

[2017-05-23 15:09] katart commented on #419
Thanks for the help @AlexGStapleton That fixed it!

[2017-05-23 15:09] #419 closed

[2017-05-24 12:29] gregpriday opened #420 "Compatibility with new WordPress 4.8 widgets"
WordPress 4.8 (beta) introduces a few widgets with more dynamic forms. These forms all come up blank in Page Builder.

We need to try trigger actions and enqueue scripts to get these new widgets working.

The widgets are

* Video
* Audio
* Image
* Text (which replaces the old text widget with a rich text TinyMCE widget).

We need to make sure that we introduce compatibility in a backwards compatib

[2017-05-24 19:00] AlexGStapleton opened #421 "Unable to use Page Builder on Event pages powered by Events Manager"
Since the 2.5 release, you're unable to use SiteOrigin Page Builder on event pages by Events Manager (100k). Upon saving a page, all page builder related data is lost (bar exception to copied content data). This will happen for new and existing events.

[2017-05-24 19:05] Misplon commented on #421
Confirmed. Looked at this today.

Previously, it was also possible to use Page Builder with:

ACF
ACF Pro
[ACF Page Builder Field](https://github.com/Angrycreative/ACF-Page-Builder-Field)

The Builder in ACF Page Builder Field no longer opens. Doubt this is related but means this workaround option is gone for the moment.

[2017-05-24 19:42] AlexGStapleton commented on #421
Hold up - that last one should be resolved after #397 and a number of compatibility patches from them (they implemented a custom renderer which broke due to the recode in 2.5). Is it not working again? :(

[2017-05-24 19:53] Misplon commented on #421
Working fine in pages, not working in custom post types like events.

[2017-05-24 19:56] AlexGStapleton commented on #421
Are you talking about the events manager plugin or ACF Page Builder Field? Just to clarify, I was talking about the latter (I'm sorry if I wasn't very clear!).

[2017-05-24 19:57] Misplon commented on #421
I'm talking about the ACF Page Builder Field. From what I can tell, at the moment, it won't open in an event but will open in a page. CPT, not working, pages look like they're working.

[2017-05-24 19:58] Misplon commented on #421
Can test locally tomorrow to confirm this.

[2017-05-24 20:57] AlexGStapleton commented on #421
ah. Gotcha.

[2017-05-25 10:42] Misplon commented on #421
Ok, just the main issue then. The issue I was having, not being to open  the ACF Page Builder Field was because Page Builder wasn't enabled for the CPT. Page Builder needs to be enabled for the CPT for the Open Builder button from the ACF Page Builder Field plugin to work.

[2017-05-25 19:32] AlexGStapleton opened #422 "Additional Collapse Behaviour options"
We should expand the recently introduced Collapse Behavior settings with additional options. Here are a few possible options:

- Collapse on tablet (only shows if tablet layout isn't enabled)
- Don't collapse on tablet (only shows if tablet is enabled)

Suggestions are more than welcome.

[2017-05-25 20:23] andrejarh commented on #422
Not sure if it helps, but this is how we implemented it in our Dentalia theme:
<img width="279" alt="screen shot 2017-05-25 at 22 20 30" src="https://cloud.githubusercontent.com/assets/10053621/26468960/a8b400bc-4198-11e7-93c8-c265b4baae7c.png">

[2017-05-25 20:25] AlexGStapleton commented on #422
Hm. I like that system more overall. @gregpriday Thoughts?

[2017-05-26 10:28] Misplon commented on #415
Thanks for your feedback @andrejarh. I'll close this for now. If there are any issues with the Widgets Bundle update, please, open an issue there and we'll attend ASAP. Cheers :)

[2017-05-26 10:28] #415 closed

[2017-05-26 10:33] Misplon opened #423 "Attributes: Custom CSS stopping responsive CSS from outputting correctly"
Row level Custom CSS is stopping responsive grid CSS from outputting as required, thereby breaking responsive behaviour.

Reminder: @gregpriday we looked at this in Slack with a users JSON layout.

_Generating this code `@media (max-width: 768px){;font-size: 0.5em }`_

[2017-05-26 14:30] gregpriday commented on #423
So the actual reason for this issue is the layout has the following entered under CSS styles for a widget.

[code]

That field doesn't support media queries, but we do have mobile CSS so they can use `font-size: 0.5em;` in the mobile CSS field.

I'll add some better error checking.

[2017-05-26 15:02] Misplon commented on #423
Ahhh!!!
On Fri, 26 May 2017 at 4:30 PM Greg Priday <notifications@github.com> wrote:

[2017-05-26 20:39] ingageco opened #426 "Row ID and Class Improvements"
Hey team -

I find the Row ID feature to not be as powerful, IMO, as it should be due to the fact that it's applied to a wrapper inside the actual row.

For instance, here's the case of a row that I have:
#pg-2-0 (div generated as a true row)
#pg-2-0 > .custom-class or #row-id
#pg-2-0 > .custom-class or #row-id > individual columns

It seems to me that it would be much more flexible for styling if

[2017-05-27 07:12] AlexGStapleton commented on #426
Row IDs aren't really intended to be used for custom styling and are more designed page builder using them row structure and the like (which is why they're able to change by row movement). Ideally, you should either apply a custom row id or row class and apply styling via that. Custom row ids/classes are applied to the row's container class - panel-row-style.

For reference, you can apply a row id

[2017-05-28 01:33] ingageco commented on #426
I understand that the current row IDs are used for the page builder's function - but again, there is no way for us to target that via CSS with reliability since the IDs change. Im aware that the custom row-ids/classes are applied to panel-row-style - but that's the issue - it's limiting. We could easily target that div if custom IDs/classes were added to the root builder Row div.

I checked out th

[2017-05-28 01:40] ingageco commented on #426
I guess what I'm saying is there are two places the custom Row Id / class can be applied:

- The root row div, which gives control over the entirety of the block
- where you have it currently, which makes the root div unreachable using that field.

It doesn't seem feasible that most would not want it on the root div if given the option.

Id just like to see some sort of option - a filter, a settin

[2017-05-28 05:37] AlexGStapleton commented on #426
I'm really not sure of a possible use case that can't be accomplished with a custom row id or class. If you're looking to apply padding to the row, why couldn't you just apply it directly to the row itself (without CSS)? If you're looking to apply spacing outside of a border or something like that, you could use margin (you can still have it be full width and centered by setting the row layout). I

[2017-05-28 06:31] ingageco commented on #426
Alex - Say i want to control :before and :after attributes - there's one case. The main point I'm trying to make is code automation.

I know i can achieve adding a background color to the root div  _using the builder properties_ - but the goal here is code automation and style automation. If I have a CSS file, say generated via Sass, where i change colors, etc, i can't control the root div's color

[2017-05-28 12:07] andrejarh opened #427 "Vertical alignment custom option causes error in CSS output."
This issue is related to this pull request:
https://github.com/siteorigin/siteorigin-panels/pull/417

Vertical alignment options are currently limited to flexbox and are not extendable beyond it.

[2017-05-28 14:06] #423 closed

[2017-05-29 07:52] AlexGStapleton commented on #426
Okay, yeah, I can see that as a possible use case. Although, it's a very obscure one. It's up to @gregpriday if this gets changed but due to the workarounds due to filters and the intentional reluctance to change the structure, it's unlikely to happen (changing structure will absolutely cause design issues for people), I don't think it'll change.

No, you'll need to use an additional filter for th

[2017-05-29 10:42] #420 closed

[2017-05-29 13:25] VladoJ commented on #86
Could you please prioritize this enhancement? WE would love to see this feature!

[2017-05-29 14:36] ingageco commented on #426
If the current setup is working for you guys, great. All I'd like is an option - even via a filter - that would allow me to state for it to be applied to the root div instead of the style div. Maybe like:

apply_filter('siteorigin_panels_style_root_div', 'apply_to_root' );

function apply_to_root($var){
return true;
}

All this would do is move the custom row ID / class to the root (#pg-0-1) div i

[2017-05-29 17:09] gregpriday commented on #86
Hi @VladoJ we'd love to get this feature in too. We have a lot going on at the moment with a few updates, but we're hoping to get this in with the next update of Page Builder.

[2017-05-29 17:44] gregpriday commented on #86
@VladoJ - I see you also posted a [1-star review for Page Builder](https://wordpress.org/support/topic/not-working-with-acf-widgets/) over this issue. Just to let you know a 1-star review is a very demotivating way to say that you think our plugin is **absolutely terrible**. If you feel that way, it's fine, but It also tells us you're not using the plugin anymore, so it's definitely not a good way

[2017-05-29 18:03] gregpriday commented on #426
Thanks for your awesome feedback @ingageco - yeah, keeping things light weight is exactly what we're going for. I've never thought about it that way, but your line:

Is exactly what we're going for.

As for the row IDs - this is actually how the custom ID feature used to work, but it was a little bit of a headache because we then had to output the correct IDs in our generated CSS. Any addon plugin

[2017-05-29 19:54] ingageco commented on #426
@gregpriday The ID isn't really what is needed - it's just a way to apply a custom class to that div. That's all I want :)

My recommendation would be just to allow a custom class to be added at that level. If you didn't allow divs at that level because of the ordering, that would make total sense as a limitation because of your style generation from the back-end.

[2017-05-29 20:09] gregpriday commented on #426
Aaah right, sorry, I should have got the run down from @AlexGStapleton before replying. Yeah, adding classes is significantly easier.

[2017-05-30 06:23] AlexGStapleton opened #428 "Layout Directory: Add a category and/or tagging system to allow for filtering"
With the recent steps to expand the layout directory's expansiveness, we need to consider the possibility that there could be a very large amount of layouts present in the directory at any given time. Currently, the only filtering options that the user has is a basic search and this is fine based on the number of layouts currently present.  The ability to category things by use and/or color will g

[2017-05-30 08:43] VladoJ commented on #86
Sorry Greg, I wrote the review in afekt, because I planned to build one web with combo SO builder + ACF and it was not working as expected. But as a solution I used siteorigin widget framework, where is also the possibility to simply make repeat fields and so on.
I just tried to highlight this issue and planned to change the review after it, but it was really not nice from me.

I already updated m

[2017-05-30 11:36] gregpriday commented on #86
@VladoJ Thanks - I appreciate that 👍

And thanks for your feedback. Our goal with Page Builder is to make it the Swiss Army Knife of layout builders. It should be usable in lots of different places, and one of the places we have on our list is with ACF. So this is actually a higher priority enhancement now.

Unless we run into major roadblocks (which is possible), we'll have it in the 2.6 release.

[2017-06-02 04:18] alenb opened #429 "Custom Background Image Display"
Hey guys,

At the moment the background image display is a dropdown which has a few options, however, it lacks a custom option. In a lot of circumstances you'd want/need to tweak the position of a background on an element. It would be highly beneficial to have a custom option or replacing the dropdown with an input box altogether. Just an idea.

What do you guys think?

[2017-06-02 04:34] AlexGStapleton commented on #429
Basically, yes.

I'm all for this idea but I'm not too sure it could be handled design wise. Thoughts?

[2017-06-02 05:03] PremalathaKumar opened #430 "Page Builder Data is not showing in HTML Source."
Hi,

We are using Site origin plugin more than two years.
It's work perfect. But the problem is, after updating the Latest version,
Page Builder Data doesn’t show up in HTML source.
Even when I put the two lines in my wp-config.php to enable the debug mode:
**define('SITEORIGIN_PANELS_NOCACHE', true);
define('SITEORIGIN_PANELS_DEV', true);**
But it won't work.

Less than v.2.5.0 is working fine.

[2017-06-03 06:51] AlexGStapleton opened #431 "Post Loop: Unable to select different post type"
After the post-selector update, you're now unable to filter the post loop by post type. The post type will be saved but upon viewing the post loop, posts will be shown. In other words, it shows up correctly in the backend but displays incorrectly on the frontend.

[2017-06-04 17:18] tskamath commented on #259
Guys,  Crayon Syntax Highlighter is very important plugin for many of us who post codes, Its been 2 Years now, no fixes. really disappointing.

[2017-06-05 07:59] #431 closed

[2017-06-06 12:41] AlexGStapleton opened #432 "After 2.5.4, you're unable to preview the post loop widget"
After 2.5.4, you're unable to preview the post loop widget. When you attempt to preview it, you end up with the infinite loading image.

[2017-06-06 13:42] #432 closed

[2017-06-07 18:38] AlexGStapleton opened #433 "Layout Builder: Doesn't currently use siteorigin_panels_builder_supports filter"
The layout builder doesn't currently support [siteorigin_panels_builder_supports](https://github.com/siteorigin/siteorigin-panels/blob/develop/tpl/metabox-panels.php#L5) filter. This is problematic as this filter is used to disable [certain page builder functionality](https://github.com/siteorigin/siteorigin-panels/blob/develop/js/siteorigin-panels/view/builder.js#L44). To bypass the disabled func

[2017-06-07 19:21] gregpriday commented on #433
This is intentional, but we could add a separate filter for the Layout Widget.

It allows, for example, a custom post type to have a content Layout Widget where their users could build the content for the post. In this case, we don't want them to edit the main post type structure, but we do want to allow the users to edit the layout that represents the post's content.

[2017-06-07 19:26] AlexGStapleton commented on #433
Ah. Gotcha - thought it was unintentional. A separate filter would definitely be a good idea.

[2017-06-08 16:06] silentdude56k commented on #394
Seems to be fixed as of the June 7th 2.3.7.1 Max Mega Menu update. Running:

- WordPress 4.7.5
- Page Builder 2.5.4, 2.5.5 (2.4.25 continues to work too)
- Widgets Bundle 1.9.1
- Max Mega Menu 2.3.7.1

[2017-06-08 17:20] AlexGStapleton commented on #394
According to the [change log for Max Mega Menu](https://en-au.wordpress.org/plugins/megamenu/#developers), this was fixed in 2.3.7.

[2017-06-09 21:40] rededge-ian commented on #86
@gregpriday Hi Greg, I know y'all are working on this and have a huge amount on your plate these days, especially with 4.8's widget changes, but just wanted to say that if your team needed any pre-release testing we'd be very excited to assist. Thanks!

[2017-06-13 04:15] gregpriday opened #434 "Make it easier for other plugins to embed a builder interface"
At the moment, it's fairly complicated to embed for other plugins to embed a builder interface. It would be much easier if we had a single helper class available to other plugin developers.

The helper class should handle enqueuing and generating all the HTML necessary for the builder.

Once place we'd use it internally is for the Layout Widget.

https://github.com/siteorigin/siteorigin-panels/blo

[2017-06-13 07:52] braamgenis opened #435 "SiteOrigin Panels conflict with WordPress 4.8"
[Reference thread](https://siteorigin.com/thread/siteorigin-panels-conflict-with-wordpress-4-8/)

Seems there's a conflict with WooCommerce in WP 4.8 due to new widgets. The below fatal occurs when clicking on order number to view order info.

[code]

[2017-06-13 08:33] #435 closed

[2017-06-13 10:44] AlexGStapleton opened #436 "Editor to Page Builder: Widget class lost on import"
When you enable page builder on a page that has page builder structure, the conversion process will pick up on the row class but won't pick up on the widget class.

[Slack reference](https://siteorigin.slack.com/archives/C02SXRL8N/p1497350468861293)

[2017-06-14 04:38] alenb commented on #429
An input box would help non-code savvy folk make changes to the background position without having to do it via CSS Styles. Although, I don't know if this is a strong enough reason to make a change like that. In all honesty, they ought to learn some CSS anyways hehe

[2017-06-14 04:52] alenb opened #437 "Panel grid cell styles ignored due to cell container"
Hey guys,

I've noticed that panel grid cell styles are ignored, because the cell itself is wrapped inside a cell container.

Here's a rough example:

[code]
If I tell it to remove the margin, it ignores it, because there's a margin on the cell container.

![image](https://user-images.githubusercontent.com/659296/27115806-78982a2a-5110-11e7-9a59-308185cd8b1a.png)

[2017-06-20 11:02] imdeea commented on #407
I've used the prebuilt layout option.

[2017-06-20 11:02] #407 closed

[2017-06-21 08:02] suganyaselvakumar commented on #135
how to register  JSON files to  a pre-built layout?

[2017-06-21 08:04] themenow opened #438 "Is there a way to change margin bottom on a specific widget?"
Changing plugin settings will affect all widgets, is it possible to change that on a per widget basis, without having to write custom CSS?

[2017-06-21 10:39] suganyaselvakumar commented on #135
function mytheme_prebuilt_layouts($layouts){
    $layouts['home-page'] = array(
        // We'll add a title field
        'name' => __('Default Home', 'vantage'),    // Required
        'description' => __('Default Home Description', 'vantage'),    // Optional
        'screenshot' => plugin_dir_url( __FILE__ ) . 'images/layout-screenshot.png',    // Optional
        'filename' => get_template_dir

[2017-06-21 17:32] AlexGStapleton opened #439 "Unable to enable WooCommerce Product Reviews"
Oddly, when SiteOrigin Page Builder is enabled for the Products post type, you're unable to enable reviews for a product as upon saving the checkbox is unset.

![](https://vgy.me/Sa82JK.png)

[2017-06-21 17:38] AlexGStapleton commented on #439
I ran a version check - this has been happening since 2.5. 😿

[2017-06-22 15:36] AlexGStapleton commented on #439
@braamgenis if you disable the content cache this issue doesn't occur. If the content cache is enabled and you disable this the [wp_update_post()](https://github.com/siteorigin/siteorigin-panels/blob/2.5.6/inc/admin.php#L204) it won't occur either.

[2017-06-24 13:12] braamgenis commented on #439
This still happens for me with  content cache disabled.

[2017-06-24 14:34] AlexGStapleton commented on #439
Oh! Sorry, I meant copy content.  Please try it _without_ copy content enabled.

[2017-06-25 11:05] #439 closed

[2017-06-25 14:18] AlexGStapleton commented on #439
@braamgenis Awesome. :)
Does this technically also fix #416? In hindsight, this may be the exact same issue.

[2017-06-26 08:03] braamgenis commented on #421
@AlexGStapleton So this is being caused by the Events Manager plugin changing and overwriting `panels_data` post meta. It worked previously because their code was running before ours, but now when copy content is enabled we trigger another `save_post` which then causes their code to run again and overwrite our saved post meta with incorrectly serialized data. I think this should be up to them to f

[2017-06-26 08:24] AlexGStapleton commented on #421
I'm confused. Previously (as in, pre 2.5) wasn't Copy Content also triggering a save_post? If so, why didn't this issue occur then? I may be overthinking things though.

[2017-06-26 09:19] braamgenis commented on #421
There was no copy content pre 2.5. :smile: Even if there was, the fact remains that their code is making changes to post meta fields without first verifying whether those fields were set by them.

[2017-06-26 09:21] AlexGStapleton commented on #421
You're thinking of the content cache. Copy Content was introduced before 2.3 (that's the earliest I can see reference to it in the change log).

Okay, that's fine - just wanted to be sure before I passed the news on. Thanks for looking into this!

[2017-06-26 09:21] #421 closed

[2017-06-26 09:39] braamgenis commented on #421
I think you may be right.  ¯\_(ツ)_/¯

[2017-06-27 06:54] gregpriday commented on #418
Resolved by https://github.com/siteorigin/siteorigin-panels/commit/6457fba06aa647d4d3e5b79ecf72281520b10bb6

[2017-06-27 06:54] #418 closed

[2017-06-29 13:55] Misplon opened #441 "Redirect Custom Home Pages to standard Pages interface"
Redirect Appearance > Home Page to Pages > Home.

[2017-06-29 15:31] AlexGStapleton commented on #441
I'm really happy about this. 👍

[2017-06-29 15:33] gregpriday commented on #441
The main challenge will be how to handle creating new pages in the same way they were created in the home page interface. All easy enough though.

[2017-07-03 14:35] AlexGStapleton opened #442 "Widget Logic plugin doesn't work when used in page builder"
[Widget Logic](https://wordpress.org/plugins/widget-logic/) (300k) doesn't work on widgets added via SiteOrigin Page Builder. Content cache doesn't help so it doesn't appear to be a priority issue.

[2017-07-09 16:57] robertharm opened #443 "Plugin conflict with Jetpack (breaking Leaflet Maps Marker / Maps Marker Pro maps as a result)"
I am the developer of the mapping plugins Leaflet Maps Marker (https://wordpress.org/plugins/leaflet-maps-marker/) and Maps Marker Pro and users reported a plugin conflict involving your plugin - I hope you can help, although this seems to be a tricky issue:

my plugins are shortcode based, maps get created if you add a shortcode like [mapsmarker layer="1"] to posts or pages. The issue now reporte

[2017-07-12 20:07] ingageco commented on #426
Hey Guys - here is the perfect illustration of the limitation I described in this issue:

See the blue row in this screenshot: https://cl.ly/2x411l3u3Q3C

This is what is desired - not possible with row configuration: https://cl.ly/3L3G3i011H2W

The only way to achieve a blue background WITH the content remaining in the middle "container" area (see the white row below) is to use CSS to style this

[2017-07-12 22:17] AlexGStapleton commented on #426
You should be able to accomplish that setup by setting the `row layout` to `full width`. To clarify, the full width row layout is a row with a content container. This allows you to set a full width background and still have the content centered like in your desired screenshot.

[2017-07-14 18:33] maglio opened #444 "Always Default to Visual Tab"
As of WordPress 4.8, SiteOrigin panels always default to the Visual tab.

Related: when selecting "Disable the visual editor when writing" from User profiles as a workaround, the Visual and Text tabs continue to show up.

[2017-07-18 13:51] sousajul opened #446 "The plugin page builder does not enable the settings option of the ultimate post plugin"
When using the **ultimate post** plugin in the plugin **page builder**, the display, filter and order windows don't open to make the correct settings.

![image](https://user-images.githubusercontent.com/13439949/28320458-0260ecdc-6ba7-11e7-8be2-d1f31b95e7be.png)

![image](https://user-images.githubusercontent.com/13439949/28320207-58e20bdc-6ba6-11e7-9555-65444e862f89.png)

[2017-07-18 15:52] AlexGStapleton commented on #446
This sort of issue is typically due to how the plugin includes its assets in the admin. I'll run a few tests but we may not be able to resolve this issue. I would recommend getting in contact with the developers to report this issue also.

[2017-07-19 12:24] x1024 opened #447 "Asset URLs are invalid and break when used with caching plugins"
The urls of the scripts/styles/images that siteorigin-panels loads have "../" in them.
Example: `/wp-content/plugins/siteorigin-panels/inc/../css/front-flex.css`
This should in fact be: `/wp-content/plugins/siteorigin-panels/css/front-flex.css`

While URLs like that would normally be correctly resolved, plugins that manipulate resources don't always do that. One example is [WP Rocket](https://wp-r

[2017-07-20 05:06] RajeebTheGreat commented on #434
Any update on this?

[2017-07-20 13:49] perkaby commented on #404
Hi,

Any news on this? We had this problem with WP 4.7.5 and Page Builder 2.5.7 and still have the problem after upgrading to WP 4.8 and Page Builder 2.5.8.

The issue is that when you click Preview on a page with Page Builder, the page gets saved and published. This must be a major issue?

[2017-07-21 23:55] davexpression commented on #430
Hi PremalathaKumar and @gregpriday
I am also facing the same problem.
Please, any solution.

Thanks

[2017-07-22 11:30] suganyaselvakumar commented on #430
Hi davexpression,
In the latest version they changed the method., Click layouts => import/export option., with use of json file you can create prebuilt layout.

[2017-07-24 08:52] AlexGStapleton commented on #444
Unfortunately, I can't seem to disable this issue. To clarify, is the issue you're having related to the text widget? If so, that's sadly a general WordPress issue that occurred after the 4.8 text widget overhaul.

[2017-07-24 08:56] AlexGStapleton commented on #443
Based on the output, this issue appears to be related to the editor you're using rather than Jetpack. To clarify, what happens if Jetpack is completely disabled? Does it work without issue?

Also, ddes this issue resolve itself if you open the SiteOrigin Editor widget and untick **Automatically add Paragraphs**? If not, try enabling Content Cache by navigating to **WP Admin > Settings > Page Build

[2017-07-24 08:56] AlexGStapleton commented on #438
Unfortunately. not at this time but this is definitely planned.

[2017-07-24 21:49] maglio commented on #444
The issue is related to the Text widget. One solution is to use the SiteOrigin Editor instead.

[2017-07-24 23:20] AlexGStapleton opened #449 "Insert Pages plugin no longer includes styling as of PB 2.5"
As of SiteOrigin Page Builder 2.5, [Insert Pages](https://wordpress.org/plugins/insert-pages/) (20k) no longer generates the styling for any page builder generated pages inserted via the plugin. This plugin is commonly used in combination with membership type plugins to output specific pages depending on user level.

[2017-07-25 16:25] AlexGStapleton commented on #449
I've submitted a fix for this uhm-coe/insert-pages#7 but it might be a good idea to look into this issue regardless as this may be affecting other plugins unintentionally.

[2017-07-26 07:07] #404 closed

[2017-08-01 05:46] shivapoudel opened #452 "Database Size Grows Huge"
I have only 3 pages built with SiteOrigin Page Builder, but I noticed my database size grew huge. I checked that `wp_postmeta` table has more than 3,000 entries (with `panels_data` entry in `meta_key`) and 18 MB in size. Apparently, every time I preview the post with SO Pagebuilder, it creates new entry in `wp_postmeta` table with increasing `post_id` numbers (not only the `post_id` of the particu

[2017-08-03 03:41] AlexGStapleton opened #453 "WP 4.8.1: Text widget no longer works in Page Builder"
After the changes to the text widget in [WordPress 4.8.1](https://codex.wordpress.org/Version_4.8.1), the text widget isn't currently working in SiteOrigin Page Builder.

When you open the text widget, nothing appears and the following error is output to the console:

[code]

![](https://i.imgur.com/0vpUSrV.png)

[2017-08-07 04:13] AlexGStapleton commented on #453
Resolved as of PB 2.5.10.

All WordPress 4.8 widgets were actually affected by this issue and all are working without issue now. 👍

[2017-08-07 04:13] #453 closed

[2017-08-07 05:45] AlexGStapleton opened #455 "iPad: Unable to scroll widget settings"
[Reported in this thread](https://siteorigin.com/thread/ipad-text-editing-interface-problem/).

When using SiteOrigin Page Builder on iPad, you're unable to scroll any widget interfaces due the interface being (at least from the looks of it) to `overflow: hidden;`

![](https://vgy.me/lswqdd.png)

[2017-08-07 06:16] AlexGStapleton opened #456 "Renderer: Prevent locale formatting with cell width"
[Reported in this thread](https://siteorigin.com/thread/page-builder-24/).

When a server has a locale setting that uses commas instead of periods (such as German) we'll incorrectly output the width of cells. This is due to the usage of [round()](https://github.com/siteorigin/siteorigin-panels/blob/develop/inc/renderer.php#L86) which will output with decimal point based on locale.

[2017-08-08 09:58] Corbyj1 commented on #426
Hi,

I'm having similar issues after developing a clients site based on how the site ID's _used_ to behave. You can find the issue logged here - [here](https://siteorigin.com/?post_type=thread&p=60895)

My use-case was more that I had a max-width applied to root level of each individual row and certain ID's/classes excluded this max-width. Now the site is completely broken design wise (which you m

[2017-08-08 12:42] woeterman94 commented on #436
I second this problem!

[2017-08-16 13:14] Finetuned commented on #430
Perhaps an update to the documentation would be good!

[2017-08-16 15:22] Finetuned commented on #430
Really ugly dirty workaround for bundling prebuilt layouts:

1. Export your layout.
2. Add the method and filter as per 2.4 instructions - https://siteorigin.com/docs/page-builder/bundling-prebuilt/)
3. json_decode  the content of the exported layout `$layoutObj = json_decode('<exportedlayout>', true);`
4. assign the widget property of $layoutObj to your layout widget e.g. $layouts['name']['widget

[2017-08-16 15:49] Finetuned commented on #430
See https://siteorigin.com/thread/how-to-bundle-prebuilt-layouts-in-page-builder-2-5/#comment-129977 for an implementation of this and **then the right way to do it**

[2017-08-21 15:19] hmjones commented on #399
Hey Guys. Was this ever resolved? I'm experiencing the same issue in Safari.

[2017-08-22 09:23] braamgenis commented on #456
I can't seem to get the locale settings to use a comma as the decimal separator no matter what I do. I even changed my whole systems settings, but nothing seems to affect PHP/WordPress. :confounded: I don't want to spend too much time on this unless it's quite a widespread problem.

[2017-08-22 12:31] AlexGStapleton commented on #456
I wouldn't call it widespread so I would hold off on this for the moment. I'll reach out to the person in the initial thread and ask for a copy of their php.ini and any other information that may help us.

[2017-08-23 10:12] braamgenis commented on #442
Their code uses sidebars to get widget instances and check whether they have any widget logic. When the widget logic determines that a widget shouldn't be displayed they simply unset the widget id from the sidebar. PB merely emulates a sidebar but isn't actually using the sidebar to determine whether or not widgets should be displayed. I'd be hesitant to allow the emulated sidebar to override PB's

[2017-08-23 10:38] AlexGStapleton commented on #442
If you don't think it's a good idea (which is totally fine), then I don't think we should worry about compatibility with this plugin. I'll try and find an alternative plugin.

[2017-08-23 10:38] #442 closed

[2017-08-23 14:34] #452 closed

[2017-08-23 14:44] #447 closed

[2017-08-24 06:42] #436 closed

[2017-08-26 07:26] codeslane opened #460 "Heading 4 Appears To Big Then Expected."
Headings are messed up and appear too big.
https://www.knowurcodes.com/codes-languages/c-language/tokens-in-c/c-keywords/

here's the example URL.

[2017-08-26 09:04] Smartik89 commented on #434
Yes, please. I was looking for solution on this. But I had no idea where to start.

[2017-08-26 09:35] AlexGStapleton opened #461 "Improve General Responsiveness of SiteOrigin Page Builder interface"
SiteOrigin Page Builder is honestly really hard to use on tablets and basically impossible on phones. We should improve the general interface so that it degrades better overall.

[2017-08-28 01:10] AlexGStapleton opened #462 "If you disable Distraction Free Mode, Page Builder will hide page builder structure until page load"
This is problematic as people will think they've lost the page builder data and may incorrectly proceed (starting over or re-enabling page builder).

![](https://i.imgur.com/9eWU6wr.gif)

[2017-08-28 14:25] gregpriday commented on #461
I'm down with this for a future feature release. Any specific ideas?
On Sat, 26 Aug 2017 at 11:35 AM Alex S <notifications@github.com> wrote:

[2017-08-28 22:18] AlexGStapleton commented on #461
Outside of general improvements (such as allowing for the edit modal to appear on phones), not really. It seems like, in general, sidebars in modals aren't responsive while the content itself may be.

[2017-08-31 13:05] Sharsie opened #463 "Loading assets fails when using SO Panels as must use plugin"
Hello there,
I encountered an issue with the 2.5.11 version of SOPanels and WordPress 4.8.1 when used as a must use plugin

**Expected behaviour:**
When SOPanels is used as a must-use plugin, the assets should be loaded from mu-plugins directory

**Actual behaviour:**
Some assets are loaded from plugins directory while others are properly mapped to mu-plugins

**Steps to reproduce:**
1.  Install W

[2017-08-31 14:51] #462 closed

[2017-09-04 07:34] AlexGStapleton opened #465 "Tablet Layout doesn't work when Legacy Layout Engine is used"
This normally wouldn't be much of an issue but older browsers are also likely to be at lower resolutions so its quite possible the tablet layout would otherwise kick in.

[2017-09-04 21:26] LittleHamster commented on #86
@gregpriday
any updates about this? thanks

[2017-09-05 07:50] AlexGStapleton opened #466 "Add the ability to disable inline styling CSS"
Before SiteOrigin Page Builder 2.5, you were able to disable the SiteOrigin Page Builder Inline CSS by simply removing its filters ([reference](https://siteorigin.com/thread/disable-inline-styling-of-the-layout/)).After 2.5 refactor, it's no longer possible to do this.

[2017-09-07 10:23] braamgenis commented on #463
Hi @Sharsie Using PB in mu-plugins is not something we explicitly support. If your goal is to prevent sites from deactivating Page Builder, then I'd suggest using _Network Activate_ to activate Page Builder for all your sites.

[2017-09-10 09:48] sagive opened #467 "Color Inputs On Rows.."
I am using the latest version - Recently i notices the color selector - background color for rows and font color ext. are not active. I can manully enter a hex color into that field but the smart color picker doesnt work.

Added Image:
![image](https://user-images.githubusercontent.com/1174968/30247902-26e3d35e-9626-11e7-9dc9-b7cf307928d4.png)

Tried it on a new installation with Twenty Seventeen

[2017-09-11 09:01] jorisvm commented on #86
This would be extremely powerful! I looked into this in the past and would really like to hear about it when it is fully supported in the SiteOrigin page builder.

[2017-09-12 02:32] AlexGStapleton opened #468 "play.svg missing"
I've received a few reports of play.svg missing. I was able to verify that play.svg is also missing for me when editing pages.

![](https://vgy.me/yjpYl3.png)

[2017-09-12 17:06] Sharsie commented on #463
Thank you @braamgenis for letting me know, as some of the sites are not multi-sites, we had to resort to using a plugins_url filter hack

If anyone stumbles upon this issue, here is a dirty and ugly solution :)
[code]

Note that there might be other issues related to having PB as a must-use plugin (plugin activation hooks are not run afaik, although I might be wrong)

[2017-09-16 09:29] AlexGStapleton opened #470 "front-flex.css - Allow for front-flex.css to be minified or minify it by default"
It's basically not possible for users to reliably minify front-flex.css and not face issues (read: the contents of the file simply won't work). As a result, we should either work on resolve the minify issues or minify the file by default.

[Reference](https://wordpress.org/support/topic/optimize-front-flex-css/)

[2017-09-16 11:37] robertharm commented on #443
Hi Alex,
thanks for the input & sorry for the late reply - as we are currently preparing a major rewrite we could also workaround this compatibility issue, which we could not reproduce anymore with our 4.0 dev version - so this issue can be closed...

[2017-09-16 11:37] #443 closed

[2017-09-18 13:55] AlexGStapleton opened #471 "Content Cache: Parallax will only work the first time you load the page"
Parallax backgrounds will only work the first time the page loads.

To replicate this issue, please enable Content Cache and then add a Row/widget with a parallax background. View the page once and then refresh. The parallax background will no longer be parallax.

[2017-09-18 14:02] AlexGStapleton commented on #467
Unfortunately, I can't seem to replicate this issue. To confirm, SiteOrigin Page Builder is the only active plugin, correct? Are you able to replicate this issue on a different computer/server?

Would it be possible for you to send me an export for this widget? To do this open up the page with the widget and click Layout button in the Page Builder toolbar. Then click import/export and then click d

[2017-09-20 07:44] AlexGStapleton opened #472 "Post Type slugs comprised solely of numbers cannot enable Page Builder"
You're unable to enable Page Builder for Post Type slug solely comprised of numbers. The post type simply won't appear.

The following PHP notice is present:

[code]

![](https://vgy.me/YAeaw6.png)

[2017-09-21 16:05] #471 closed

[2017-09-21 16:15] gregpriday commented on #468
@braamgenis fixed this in the learn submodule.

[2017-09-21 16:15] #468 closed

[2017-09-21 19:45] #416 closed

[2017-09-22 19:46] asayuki opened #474 "Shortcodes breaks Page Builder"
Everytime I try to use a Shortcode with attributes it breaks the builder and I get reverted back to the editor with a bunch of so/pb-htlm.
Shortcodes without attributes seems to work just fine.

Before save:
![screenshot from 2017-09-22 21-43-58](https://user-images.githubusercontent.com/999657/30761650-465e336a-9fdf-11e7-86a7-2ae4e97b25fd.png)
After save:
![screenshot from 2017-09-22 21-44-20](ht

[2017-09-23 07:11] AlexGStapleton commented on #474
What plugin is adding that shortcode? I ask as this is very unusual for a shortcode to break the page builder. Please try a shortcode being added by a differnet plugin or a standard WordPress shortcode like [gallery](https://codex.wordpress.org/Gallery_Shortcode).

[2017-09-23 10:33] asayuki commented on #474
It's just a shortcode I defined myself.
I tested the same on a clean install, seems to work there. So there is something on my end - probably in the theme maybe?

Thanks anyway :)

[2017-09-23 10:33] #474 closed

[2017-09-25 07:47] AlexGStapleton opened #475 "Revisions: Any semi-complicated layout is revision issues"
If you revert to a previous revision that has a semi-complicated layout (basically anything with a couple of rows and columns), the widgets will either be lost (if standard WordPress widgets) or reverted to SiteOrigin Editor widgets (if widgets from the SiteOrigin Widgets Bundle). This issue has likely only shown itself due to https://github.com/siteorigin/siteorigin-panels/commit/cc2474dd5d00dfc9

[2017-10-02 06:15] gregpriday commented on #475
Fixed by reverting https://github.com/siteorigin/siteorigin-panels/commit/4a117e607927ba992a34964894841b2eccce6854

[2017-10-02 06:15] #475 closed

[2017-10-02 06:56] gregpriday commented on #441
There are a few too many challenges here. It'll probably bring up more support issues by removing this from our themes as it would reduce by removing it. For now, we'll just make sure we don't use this in any future themes.

[2017-10-02 06:56] #441 closed

[2017-10-02 07:04] gregpriday commented on #269
@AlexGStapleton we do now have a setting for responsive row padding. Technically a user could add an additional bottom padding for mobile devices. This is slightly different because this bottom padding will be added to the row styling.

Do you think responsive bottom padding is enough, or is there still a need for responsive bottom margin?

[2017-10-02 08:26] AlexGStapleton commented on #269
In my opinion, I think we should. With that said, we could get away with having a simple checkbox for "remove bottom margin on mobile" if it makes it easier.

I think a more important issue is the lack of control over widget and cell (only notice on mobile devices) bottom margin.

[2017-10-02 12:37] AlexGStapleton commented on #269
Actually, I change my stance from "we should" to be "there are more reasons to do this than to not do so". Adjusting the padding for additional spacing (or to remove spacing) isn't really an option when you have a background.

[2017-10-03 17:20] AlexGStapleton commented on #460
Unfortunately, this isn't as a result of SiteOrigin Page Builder and looks to be due to theme styling. I would recommend getting in contact with the theme developers for assistance with this issue.

[2017-10-03 17:20] #460 closed

[2017-10-03 17:24] AlexGStapleton commented on #449
Issue has been resolved.

[2017-10-03 17:24] #449 closed

[2017-10-03 17:25] AlexGStapleton commented on #444
Closing this as this is a WordPress widget issue.

[2017-10-03 17:25] #444 closed

[2017-10-04 09:01] AlexGStapleton opened #477 "WP Statistics conflict"
The latest version of [WP Statistics](https://wordpress.org/plugins/wp-statistics/)(400k) is causing issues with the color picker and repeators in the SiteOrigin Widgets Bundle.

![](https://vgy.me/gFkJ93.png)

[code]

[2017-10-04 14:20] braamgenis commented on #232
Implemented in #371

[2017-10-04 14:20] #232 closed

[2017-10-05 08:45] #230 closed

[2017-10-06 12:49] AlexGStapleton commented on #477
This was actually a general issue with 12.1.2. Fixed in 12.1.3.

[2017-10-06 12:49] #477 closed

[2017-10-24 19:14] MarkHjorth opened #480 "Reader view breaks when using page builder"
Reader view no longer works after I have moved my content from the default editor in Wordpress to the SiteOrigin Page builder.

### How to Replicate:
1. Go to [the website](https://markhjorth.com/portfolio/games/goblins-ruin-rpg-mobile-game/)
2. In Safari press "Show reader view"
3. Only content that is not from page builder is shown (Title, Author, Date and Featured Image)

### Example shown belo

[2017-10-25 12:53] AlexGStapleton commented on #461
A user [has requested](https://siteorigin.com/thread/mobile-posting-problems/) the ability to disable the drag and drop on mobile. This does make sense but maybe instead of disabling it we look into making the ability to edit the widgets easier by always showing the edit links on top of the widget at all times on mobile.

(this is a general feedback comment on responsiveness)

[2017-10-29 11:41] chakzefir commented on #466
@AlexGStapleton could you confirm, am I correctly understand you ? You offer to create an option to disable inline styles in theme at all ?
For instance, as decision of current issue: create checkbox in Page Builder settings, and before printing inline styles check this option, and according to this, print or not the inline styles on page.
Am I right ?

[2017-10-30 01:37] AlexGStapleton commented on #466
Unfourtantly, that's not currently possible due to this issue which prevents the removal of the inline CSS.

It should, however, be noted that we wouldn't add a setting to disable Page Builder styling to the page builder settings as it can cause major confusion if a user accidentally disables it. Once this is fixed, we'll offer a filter that developers can use to do this.

[2017-11-01 08:33] AlexGStapleton opened #482 "builderType not always being set"
In some instances the [builderType](https://github.com/siteorigin/siteorigin-panels/blob/2.5.13/js/siteorigin-panels/main.jsL83) isn't being set. This makes detecting the context of a widget problematic.

This appears to only happen for widgets inside of a builder field. In all other instances, builderType is being set. I've got no idea how to word this without saying its a WB issue. I suspect [th

[2017-11-03 22:42] sagive opened #483 "How to hook to the actuall CSS printed to the head of the document"
I have created a small plugin to help me add slanted borders to rows.
However...

The best cross browser way to do that is to use a :before and :after tags in the css related
to the right row.

Using classes is easy but i want to do a dynamic solution where the angle and direction
could be set directly for each row.

Example image:
https://ibb.co/ke9dhb

I got everything covered but...
**i dont kn

[2017-11-03 22:45] sagive commented on #467
Had a problem with wordpress installation. Thanks for taking the time

[2017-11-03 22:45] #467 closed

[2017-11-04 20:03] sagive commented on #483
Hey again... after research i created this:
[code]

But, i still dont know how to add a :before attr to this hook.
Would apreaciate your help (or maybe i am totally off..)

[2017-11-07 00:05] AlexGStapleton commented on #480
Unfortunately, this is sadly unavoidable due to the way the reader view (and similar browser plugins/services) detect content. There's no way for us to tell it what's actually content as it works everything out automatically and their system for working things out is imperfect due to a lot of assumptions it makes.

Everything currently displaying are the only things you actually can tell it to use

[2017-11-07 00:05] #480 closed

[2017-11-09 17:39] Misplon opened #485 "Revert to Editor: Problem switch back to Page Builder"
It seems we might have lost the ability to revert to editor and switch back to Page Builder again.

[2017-11-13 12:11] #485 closed

[2017-11-15 01:42] swinggraphics commented on #483
You might be better off adding a class name to the row:
https://siteorigin.com/docs/page-builder/hooks/custom-row-settings/#heading-adding-the-new-option-to-the-row-element

[2017-11-15 09:39] braamgenis commented on #482
Fixed in siteorigin/so-widgets-bundle@1662c34a0f05702b65e0da8bee621a1683c09806

[2017-11-15 09:39] #482 closed

[2017-11-16 07:48] sagive commented on #483
thats easy but not flexible to the website owner. Thats why i went trough all the trouble of building an addon. i cant make 100 classes for every angle variation.

[2017-11-16 17:52] swinggraphics commented on #483
Your sample code only shows one option—a single checkbox. That implies you can make do with a single class name. Just have your addon add a class name to the row instead of trying to generate actual CSS. See the link in my previous response.

[2017-11-16 19:40] Misplon opened #487 "Custom HTML Widget: Not Editable in 4.9"
The core Custom HTML Widget added in 4.8.1 is not editable in Page Builder in 4.9.
Existing content is being displayed but the widget is no longer editable in Page Builder.

[2017-11-16 20:19] Metatrox commented on #487
Yes I am having the same issue.
The widget preview shows my "Custom HTML" content but when you click the edit the popup doesn't show the HTML code.

[2017-11-16 20:22] Misplon commented on #487
Thanks for reaching out @Metatrox. We'll get this sorted ASAP tomorrow. Sorry for the hassle.

[2017-11-17 01:49] itsgrimace commented on #487
I am no expert but I'd say the problem is evident in the changes to the WP widget classes.
previously there was a function
public function form( $instance ) which pulls the widget current settings and i think it may have pulled the layout as well. Now there are 2 functions (thanks to the comments)
public function form( $instance ) - this pulls the current settings
&
public static function render_c

[2017-11-17 02:52] simplecreatif commented on #487
In the meantime, what is a good solution if we need to make edits to pages using the Custom HTML widget...? Rollback to the previous version of Page Builder? Or is it better to wait for the next release for the fix?

[2017-11-17 03:09] itsgrimace commented on #487
The problem is the changes to the custom HTML widget in wordpress. You would need to roll back your WP installation. A work around I do have however. Using an editor program write your html. Then copy it and load the widget's edit page in chrome. right click the center (where html would go) then click inspect. This will bring up the inspector. Edit the line of HMTL which is like this;

`textarea i

[2017-11-17 03:14] simplecreatif commented on #487
Excellent work around for the time-being, not pretty - but it'll work for urgent changes, thanks heaps mate!

[2017-11-17 05:34] itsgrimace commented on #487
ok so maybe because I'm bored but I think I have found exactly where things might need to change.

the file is js/siteorigin-panels/view/widgets/js-widget.js

In there there are options to handle, media widgets and a text widget, no option however for some of the new widgets added in 4.9 (as in added to the widgets folder in WP). I might take a punt here and suggest that a custom_html widget will

[2017-11-17 09:24] Misplon commented on #487
Thanks for looking into this guys. We're working the issue now. Release to follow. Appreciate the help.

[2017-11-17 11:35] knightknight commented on #318
Has there been anymore development with this, as being able to get Page Builder to render an output for a WooCommerce shop page would be great ?

I found a similar issue customising North and using the 'overlap content' option for all my pages, except WooCommerce's shop page nothing worked unless you hard code in the content to the woocommerce.php template.

[2017-11-17 12:45] #487 closed

[2017-11-20 11:54] AlexGStapleton commented on #318
Unfortunately, no, there haven't been any additional development this. Sorry mate.

[2017-11-21 06:21] sagive commented on #483
Its not only a checkbox... there are 2 other user input parameters right beneath it. i am asking a specific question and not how to apply a class which does not require any customization! Why are you diluting my question with shallow, unhelpfull responses?

[2017-11-21 07:39] swinggraphics commented on #483
Looking at the source code, I see you can create your own selector and pass it with styles to $css->add_css.

`function slantedborder_panels_css_object( $css, $panels_data, $post_id ) {
    foreach ( $panels_data[ 'grids' ] as $gi => $grid ) {
        if( $grid[ 'slnborder_before' ] == '1' || $grid[ 'slnborder_after' ] == '1' ) {
            $selector = "#pg-$post_id-$gi:before"; // This applies t

[2017-11-21 07:43] swinggraphics commented on #483
Thanks, Github, for removing the line breaks (◔_◔)
https://pastebin.com/9myCx3Ti

[2017-11-21 22:53] jakebellacera commented on #466
:+1: if we can get filters shipped then I would be willing to switch all of my customer's sites to use this plugin.

[2017-11-23 00:20] louisemb opened #491 "Error due to element style in the body"
I'm having issues on my site, when the page refreshes after signing up for the newsletter through the mailchimp newsletter signup form in the footer, the page layout shifts to the left of the page. The code validator gives me an error that there is an element style in the body <style type="text/css" media="all" id="siteorigin-panels-layouts-footer">

Is this normal or might be the cause of my prob

[2017-11-23 03:12] AlexGStapleton commented on #491
The mentioned tag is normal and present on all page builder powered pages - it's not causing this issue.

We're unable to provide support for these sort of issues over GitHub. Can you please post a thread on our [Support Forums](https://siteorigin.com/thread).

[2017-11-23 03:12] #491 closed

[2017-11-24 09:04] andrejarh opened #492 "row padding does not work on full width stretched"
Hi,
Custom row paddings don't work when Row layout is set to Full Width Stretched:
**Row padding settings:**
![screen shot 2017-11-24 at 09 57 03](https://user-images.githubusercontent.com/10053621/33202813-2d74deb2-d0fe-11e7-92af-fe4b87fb1e75.png)
**Row layout settings:**
![screen shot 2017-11-24 at 09 58 25](https://user-images.githubusercontent.com/10053621/33202824-336225dc-d0fe-11e7-9809-9285

[2017-11-24 10:26] Misplon opened #493 "Live Editor: Look at possibility of adding background draft saving"
Look at the possibility of adding background draft saving to the live editor.

[2017-11-25 17:52] sagive commented on #483
this looks awesome! thank you, going to test it now ;)

[2017-12-03 05:51] ethanclevenger91 opened #494 "`apply_filters('the_content', $foo)` overrides `$foo`"
From a template such as `taxonomy-cpt.php`, I can use `term_description()` to get the global term's description. This description may contain shortcodes or embeds, so it may sometimes make sense to do:

`apply_filters('the_content', term_description());`

However, with this plugin active, if there are posts with this taxonomy term, the content of the first post is returned rather than the filtered

[2017-12-04 09:14] braamgenis commented on #470
This could be an issue with the minifier they're using, so we'd need to know which one that is to try reproduce and fix reliably. I'll try find which one it is that Google PageSpeed recommends.

[2017-12-04 10:11] #472 closed

[2017-12-04 14:16] braamgenis commented on #466
The above PR, when merged, will allow third party devs to modify or remove inline styles, if desired.

It should be noted that the previous method of disabling inline styles is possible in the currently released version, it's just slightly altered. It should now look like this:
[code]

[2017-12-04 18:58] paulwillen opened #496 "Updating to the newest version crashes the plugin"
When I install the newest version of Page Builder (2.5.16) It crashes...
I cannot activate the plugin anymore and my site is all messed up (obviously)...

I needed to go back to version 2.5.14 to be able to restore everything. What's the best wat to proceed?

[2017-12-05 01:45] AlexGStapleton commented on #496
We're unable to replicate this issue so we suspect you may be experiencing a pretty major plugin conflict. Your best bet would be to disable all non-SiteOrigin plugins and change to a default theme before updating. Once updated slowly reactivate each plugin one by one until the issue reoccurs. Once it does, disable the last activated plugin and then skip to the plugin after that one and keep react

[2017-12-05 08:04] paulwillen commented on #496
Thanks for your reply;
I think I'll try to replicate this on a QA environment, since I don't want my site to be at risk anymore. Thanks for your proposed solution. I'll report back when I've tested things out..

[2017-12-05 08:39] #466 closed

[2017-12-11 00:37] rogerlos opened #497 "admin.php : enqueue_admin_scripts : ob error"
At line 436 of `inc/admin.php`:
[code]
Should be:
[code]
 `ob_end_clean`: If you `var_dump( ob_get_level() );` before the `ob_start()`, you can see the object level increasing steadily as each trip through the loop opens a new buffer without ever closing them.

[2017-12-11 20:21] hadamlenz commented on #86
I created a widget for pb [following this tutorial ](https://siteorigin.com/docs/widgets-bundle/getting-started/creating-a-widget/)

then I set the ACF field to show up when the widget is equal to the widget I created.

It works, but the ACF fields do not save, and ACF's conditional formatting doesn't work

[2017-12-12 02:02] LittleHamster commented on #86
@hadamlenz
you didnt follow the discussion? page builder does not work with ACF

[2017-12-12 17:41] hadamlenz commented on #86
Well it sorta does @LittleHamster .  The data you enter in the ACF created form gets saved to the posts meta-data in the panels_data array.  You can then use ACFs filter acf/load_value to find that data in the panels_data array and feed the value back into the form.  The beauty is, PB saves data way better that ACF's gazillion post meta entries.

because the forms are populated by an ajax request

[2017-12-12 19:42] hadamlenz commented on #86
I went through and tested all the fields.  About half work and the other half seem like they are very JS dependent.

Working
Text, Image, Radio, Range, oEmbed, File, Button Group, Link, Taxonomy

Not Working
WYSIWYG, Post Object, Gallery, Checkboxes, Page Link, User, Relationship, Date, DateTime,Time,Color,Map

Also none of the validation works and none of the formatting for ACF widths work correc

[2017-12-17 11:11] braamgenis commented on #497
Thanks! This will be fixed in the next release. :+1:

[2017-12-17 11:11] #497 closed

[2017-12-18 02:14] AlexGStapleton commented on #250
Re-opened as PB 3.0 was changed to 2.5 and this wasn't included.

[2017-12-19 09:27] nextend opened #499 "YOAST SEO 'fleschReadingEase' with Page Builder by Siteorigin"
Related ticket in Yoast SEO: https://github.com/Yoast/wordpress-seo/issues/8517

Page Builder by SiteOrigin version: 2.6.0
Yoast SEO version: 5.9.3

Steps to reproduce the issue:
- On an empty page
- Switch to the "Readability" pane in Yoast SEO
- Add  any WordPress widget to the page - For example "Archives"
- Switch to "Enter focus keyword" pane in Yoast SEO
- Switch back to the "Readability" pa

[2017-12-19 15:14] Misplon commented on #499
Hi @nextend

Thanks for reporting this. Sorry for the hassle. I've chatted to @braamgenis about this. He let me know that:

_This is being caused by Yoast doing an AJAX call to fetch processed shortcodes and replace the raw shortcode with the processed one in the content. However because it's out of the normal context it doesn't perform some escaping we require and so it doesn't succeed when tryin

[2017-12-20 19:16] mariovalney opened #500 "Notice when unregistering 'SiteOrigin_Panels_Widgets_Layout' widget"
If you unregister 'SiteOrigin_Panels_Widgets_Layout' widget a notice will be displayed:

[2017-12-25 07:42] AlexGStapleton commented on #500
Unfortunately, it appears as though you've submitted a PR for the fork rather than the upstream. I would recommend giving [this article](https://help.github.com/articles/creating-a-pull-request-from-a-fork/) a quick read.

[2017-12-26 12:47] mariovalney commented on #500
You are right... hahah redone.

[2017-12-29 09:28] robhope opened #502 "Theme Defined Layouts - Fixed Height Bug on Thumbnails ↕️"
Seems to be fixed height set on thumbnails since the latest upgrade to 2.6.0

![pb-layouts](https://user-images.githubusercontent.com/2972705/34433893-040f89f2-ec8b-11e7-8fc5-95cff562263f.jpg)

[2018-01-03 13:18] vollyimnetz commented on #456
I got the problem too. It is not wordpress specific, rather php specific. I got
[code]

To reproduce add the following in the functions.php
[code]

To reproduce you **may** also need:
- a PHP-version with german locales (not sure if it is bundled in default installation).
- a wordpress with german locale installed

-------------------------

`setlocale(LC_NUMERIC, '');` will set float decimal sepe

[2018-01-04 15:33] MaxValue opened #503 "Cannot export layout when it contains a "SiteOrigin Button""
s.a.

I tried to export the layout as JSON via:

1. Go to "Appearance" > "Widgets"
2. "Header Widgets" > "Layout Builder" > "Open Builder"
3. "Layouts" > "Import/Export" > "Download Layout"

When this "Download Layout" button is clicked, it sends a request but the download window never pops up. When all "SiteOrigin Button"s are removed from the layout, it works as expected: The download prompt is

[2018-01-08 08:17] AlexGStapleton commented on #503
Unfourtantly, we're unable to replicate this issue. I _suspect_ the server you're on may be rejecting the data for some reason. Are you able to replicate this issue on another server?

[2018-01-10 17:39] MaxValue commented on #503
Hmm that could be.

I now (stupid me that i didn't do that in the first place) looked at the browser console:

Turns out another plugin i have (Wordfence) is acting super paranoid and blocking the request.

All green on your plugin now. This was a false positive!

Thanks for helping finding the issue in any case!

[2018-01-10 17:39] #503 closed

[2018-01-16 08:28] braamgenis commented on #456
Thanks for your help @vollyimnetz. I was able to reproduce the issue. It seems to occur already when unserializing the Page Builder data which we store in post metadata. Instead of changing locale settings I have just done a simple string replace to swap ',' with '.' when adding the column width CSS. That seems to be the only value affected by this issue for now.

[2018-01-16 08:28] #456 closed

[2018-01-16 09:39] vollyimnetz commented on #456
Attention: this will only work for numbers lower than 1000!

Formated english number: 1,123,456.89
Formated german number:  1.213.456,89

Commas and points are directly reverse.

[2018-01-16 10:21] braamgenis commented on #456
Hi @vollyimnetz That's ok. Like I said, this is only being done when adding the column width CSS. I.e. it's a percentage calculated from a weighting assigned when specifying column ratios. The number shouldn't be larger than 100, unless the weight is filtered and set to something larger than 1. In which case, if they happen to set it to 10 or more (resulting in >=1000%) they'll have some interesti

[2018-01-16 14:48] Wachu91 commented on #158
+1

[2018-01-17 17:37] Sharsie opened #505 "Preview bugged for post creator when there is an autosave from another user"
If there are multiple users working on a post and one of them creates an autosave (and then for example closes the window so the lock expires), the other user (not sure if it is always the owner of the post) will always be presented with an autosave of the other user.

**How to reproduce:**
1) Create a post with user A, add site origin editor and add some content
2) Save draft, Log out, delete loc

[2018-01-18 08:55] #502 closed

[2018-01-30 01:01] joedguarino commented on #499
This is still plaguing one of my sites. If I can help in any way, let me know. This is for current version of Yoast Premium: v6.2 and SiteOrigin Bundle: v1.11.3

[2018-01-30 08:21] Misplon commented on #499
Hi @joedguarino. Wish we had an update for you. We know what's causing the issue but haven't been able to find a workaround as of yet. We haven't given up and will update as soon as we've looked at further options to resolve.

[2018-02-05 13:41] AlexGStapleton opened #508 "EditRow needs EditRow to be enabled or changes made to widgets won't be saved"
EditRow needs EditRow to be enabled or changes made to widgets won't be saved. You can verify this in the CPTB with default settings.

[Slack](https://siteorigin.slack.com/archives/C02SYBBH2/p1517837855000543)

[2018-02-07 09:20] braamgenis commented on #499
I've done some deeper digging and it took me a while, but I believe I've found the real cause for this issue. Unfortunately the problem lies in the Yoast SEO plugin, so I've commented on the related issue at Yoast with my findings. Hopefully it will help them to resolve the issue.

https://github.com/Yoast/YoastSEO.js/issues/1346#issuecomment-363706282

[2018-02-11 06:09] nsrosenqvist opened #509 "When registering an instance of a class as a widget PageBuilder fails to load it"
If I register a normal widget by supplying the WP method `register_widget` with an instance of a class then PageBuilder manages to list it and add it to the panel builder. But when opening to edit the widget's form then it just gives an error message and a long number instead of the class name of the widget in the error message. Everywhere else in WordPress it's supported to register instances for

[2018-02-11 11:10] nsrosenqvist commented on #509
**More info:** When all the widgets are listed in the  "add widget" dialog the object hash is loaded as widget class. When the widget has been added and the form is opened it's done in a subsequent request and therefore the object hash of the instance is different and the widget can't be loaded.

[2018-02-16 10:12] andrejarh opened #511 "layouts weird issue"
Hi guys,
I am not exactly sure why this happens and can't say how exactly to reproduce this issue, but the more I work with the site, the more times the clone [post type] options duplicate. This is an example of my local installation:
![screen shot 2018-02-16 at 11 05 01](https://user-images.githubusercontent.com/10053621/36302699-b9e8bbd2-1309-11e8-83e5-584d0c42b907.png)

I've noticed This issue

[2018-02-27 13:34] braamgenis commented on #508
@AlexGStapleton I can't reproduce this.
Steps taken:
1. Create new CPT, add button widget and save.
2. Create new post of above type, open and edit widget and save.
3. After reload check widget form. Changes have been saved.
4. View post. Edits to widget are visible.

Please confirm whether this still happens for you and steps to reproduce.

[2018-02-27 13:47] AlexGStapleton commented on #508
Oddly, I can't seem to replicate this at the moment. I have however received reports about this in the last week, and I've always had them tick this setting to fix it. 😕

The next time this happens I'll make a copy of their exact settings.

[2018-03-01 10:05] AlexGStapleton commented on #470
All good now.

[2018-03-01 10:05] #470 closed

[2018-03-09 17:31] Misplon commented on #210
Super, thanks Jim. As you can see we've haven't had the resources yet to get beyond the initial idea/suggestion. This helps a lot. Appreciate it :)

[2018-03-09 17:40] jimtrue commented on #210
@Misplon Believe me, I totally get it. Anytime you folks would like to discuss possibilities, hop on our Slack Chat at https://podsmio/chat/ and we can see what we can come up with

[2018-03-09 17:50] Misplon commented on #210
Thanks for your understanding and offer of assistance, that's awesome. Hopefully, we'll be in touch a little down the line.

[2018-03-11 13:13] braamgenis opened #513 "Check Gutenberg compat"
Check the requirements for Gutenberg compat and makes sure we meet them.
See here: https://plugincompat.danielbachhuber.com

[2018-03-12 10:15] andrejarh opened #514 "TinyMCE lost formating"
After update to 2.6.3. All widgets with TinyMCE form lost all formating.
Example:
**Before:**
![screen shot 2018-03-12 at 09 56 59](https://user-images.githubusercontent.com/10053621/37277989-9d0da712-25e6-11e8-9b4d-b2030dde48cc.png)
**After:**
![screen shot 2018-03-12 at 09 58 18](https://user-images.githubusercontent.com/10053621/37277999-a87106bc-25e6-11e8-8ad0-249784959f90.png)

I think it mig

[2018-03-16 11:34] Rajik commented on #367
Any updates on this enhancement? We are in need of this feature and it would be great to know the timeline for this.

[2018-03-20 07:25] dustyadm commented on #373
This issue is with the theme itself for the warp, primary and panel content. You can disable this item in the template panel and they go back to normal. I know you closed this issue last year w/o resolution.

[2018-03-26 06:05] Misplon opened #516 "Admin layouts: Find a solution for `mime_content_type()`"
I think, pre `7` we're going to see this error in some cases:

`Fatal error: Call to undefined function mime_content_type() in wp-content/plugins/siteorigin-panels/inc/admin-layouts.php on line 94`

Can we use an alternative function?

[2018-03-28 11:47] Misplon commented on #514
Hi @andrejarh

If possible, please, could you share the exact markup used in your test in the screenshot. We're working two related issues. I want to confirm if this is the same as one of those issues or a different problem.

Thanks and sorry about the hassle.

[2018-03-28 13:44] andrejarh commented on #514
The exact markup from the example is:
`Integer ornare vulputate augue, ac finibus ante interdum dictum. Fusce gravida finibus turpis, eget tempor tortor facilisis in.

Mauris nisi felis, euismod sed est in, aliquam mollis velit. Duis hendrerit lorem vel quam rhoncus, finibus varius tellus fermentum. In feugiat, libero condimentum malesuada ultrices, purus quam dapibus nisl, vel volutpat enim mauri

[2018-03-28 13:44] #514 closed

[2018-03-28 13:45] Misplon commented on #514
Thanks for confirming. All the best.

[2018-03-29 14:14] braamgenis commented on #388
@gregpriday Did we still need to do something for this?

[2018-03-30 07:45] braamgenis commented on #406
Is this still an issue? If so could you please post steps to reproduce.

[2018-03-30 08:02] braamgenis commented on #360
I really like this idea, as I generally prefer to stick to the keyboard as much as possible. We would just have to be very careful about conflicts with other shortcuts in the context of the OS/browser etc.

[2018-03-30 08:06] #392 closed

[2018-03-30 08:10] braamgenis commented on #385
Is this still an issue? I don't remember what the outcome was of previous troubleshooting/debugging, but I can't seem to reproduce any issues anymore.

[2018-03-30 11:30] braamgenis opened #517 "Row styles defaults"
When adding a custom row CSS style e.g. `margin-bottom:0;`, some unrelated defaults are applied to the `.row-style-wrapper` class too. I think this will cause confusion as users won't know where these styles are coming from.

[2018-03-30 11:37] #483 closed

[2018-03-30 11:38] #496 closed

[2018-03-30 11:49] braamgenis commented on #181
@AlexGStapleton Not sure we want to be adding stuff to the legacy PB widgets anymore. Perhaps we can add something like this to WB?

[2018-03-30 13:38] AlexGStapleton commented on #385
This hasn't been brought up for at least a year so it's unlikely this is an issue still.

[2018-03-30 13:38] AlexGStapleton commented on #181
I would be okay with that.

[2018-03-30 13:44] AlexGStapleton commented on #406
This is still an issue. Please navigate to **WP Admin > Settings > Page Builder** and open the **Layout** tab. Set **Use Legacy Layout Engine** to **Always** and then save. Create/open a page and add a new row. Set the **Collapse Order** to **Right on Top**.

Add a basic widget (I used an archive and categories) to each column and then view them on mobile. The first column will appear on top when

[2018-03-31 14:05] #318 closed

[2018-03-31 14:05] #516 closed

[2018-03-31 14:07] #385 closed

[2018-04-02 13:57] AlexGStapleton opened #518 "Improve compatibility with TipTopPress's Category Posts Widget"
[TipTopPress's Category Posts Widget](https://wordpress.org/plugins/category-posts/)
[Related Forum Thread](https://wordpress.org/support/topic/cant-use-plugin-inside-a-widget/) (ignore the review portion).
[Slack](https://siteorigin.slack.com/archives/C02SYBBH2/p1522594262000035)

[2018-04-02 21:39] DanielFloeter commented on #518
It is a bit frustrated for us. After release the patch version we get first user issues that the code don't work with Firefox.
Exactly this is what I described with not secure code. It is very hard for us to write here better code.

This is our code we implement, but we will very happy, if you implement also the WordPress trigger and actions that we can get rid of this commit again:
https://github

[2018-04-03 09:21] braamgenis commented on #226
@AlexGStapleton This works for me now. Could you please confirm?

[2018-04-03 09:26] braamgenis commented on #241
@AlexGStapleton So basically like the fallback external URL field we have for Media fields in WB?

[2018-04-03 09:31] AlexGStapleton commented on #226
I'm unable to replicate this issue either.

[2018-04-03 09:31] #226 closed

[2018-04-03 09:32] AlexGStapleton commented on #241
Basically.

[2018-04-04 14:57] DanielFloeter commented on #518
A new user rating write exactly what we mean with unsecure code.

"... I found a bug with their new patch, which was an incompatibility issue with ACF repeater field .... you can’t test compatibility with every plugin out there, even though ACF is huge! ..." ([https://wordpress.org/support/topic/support-is-excellent-9/](https://wordpress.org/support/topic/support-is-excellent-9/))

With the implem

[2018-04-05 08:55] braamgenis opened #519 "Fix compat for new JS widgets."
For newer widgets that use JS in the admin front end we need to enqueue their scripts/styles for them to work in PB. Currently we do so by calling the `enqueue_admin_scripts` function on those widgets. In some cases the `enqueue_admin_scripts` function might require the `$hook` argument supplied by the `admin_enqueue_scripts` action. Calling the function without the argument, when required, causes

[2018-04-05 08:57] braamgenis opened #520 "Fix compat with new Jetpack widgets or filter out temporarily until fixed."
Some of the new Jetpack widgets (Social Icons, Gallery and Google+ Badge so far ) are using JS for the admin form which we need to enqueue. If they remove the conditions to prevent enqueueing on pages other than Widgets and Customizer, they might just work. See Automattic/jetpack#9234 and Automattic/jetpack#9236, until then and if a workaround isn't possible we should filter out the widgets from P

[2018-04-05 13:31] oskosk commented on #520
Thanks for keeping track of this @braamgenis . What do you think would be the ideal way to trigger the admin js loading ?

In Automattic/Jetpack#9236 we're removing the limitation for loading just on customizer or widgets page for the Social Icons Widget introduced with Jetpack 6.0...

But during the digging of this issue, I found another widget that jetpack provides (Twitter Timeline) that wasn't

[2018-04-06 07:39] braamgenis opened #521 "Update GlotPress"
Check what needs to be done to update GlotPress project and fix possibly broken pot file generated incorrectly by build. (points to tmp folder)

https://siteorigin.com/thread/please-update-glotpress-project-for-page-builder-by-siteorigin/

[2018-04-06 15:04] braamgenis commented on #520
No problem @oskosk 👍 And thanks for removing the condition to prevent enqueuing those scripts when not needed, but there's still a way we can both have what we want. 😄

So it's not "ideal", but from where the code is now, I think just following the conventions used in the WP core widgets is preferable. They [use](https://github.com/WordPress/WordPress/blob/4.9.5/wp-includes/widgets/class-wp-widget

[2018-04-07 10:05] Jeppeskovsgaard commented on #86
+1

Two such popular and powerful plugins should work together. :) The power of ACF and your page builder would make content management and theme development a real treat.

[2018-04-10 12:22] gabor1990 opened #522 "Text widget - autop"
Hi! Recently we are getting a lot of email about the same issue, that you have an option at the text widget called "Automatically add paragraphs" which inserts empty paragraphs into our shortcode made code as well.
Is there a way this could be avoided? Because users are using all kind of shortcodes, not just ours and automatically adding paragraphs to their own texts might gives a good result, but

[2018-04-10 15:35] AlexGStapleton commented on #522
Hi gabor1990,

We've come across this issue a few times in the past and we definitely keen on fixing this issue - we consider it quite a serious one. Can you please clarify the name of your plugin? I ask because we're looking for reliable methods of replicating this issue, and as your plugin is affected by this issue it can definitely help us in doing that.

Unfortunately, outside of disabling Aut

[2018-04-10 16:31] nextend commented on #522
Hi Alex, thank you for checking this issue! You can use Smart Slider 3 to reproduce the issue.

Add Smart Slider 3 as shortcode to the text widget and it should modify the content of the slider. As I remember we saw the issue when we have embedded svg in the slider with shape divider. Get in touch with me and I will give you a pro license to Smart Slider and I will send you a slider to import whic

[2018-04-10 17:09] Misplon commented on #522
Thanks everyone, let's move this over to the Widgets Bundle repo, link above.

[2018-04-10 17:09] #522 closed

[2018-04-15 11:12] Misplon commented on #123
Gallery Widget (deprecated)

[2018-04-15 11:12] #123 closed

[2018-04-15 11:15] Misplon commented on #290
When the `` is inserted into the Text tab, the page pagination does appear but content isn't separated by the tag, all content appears. Same situation in Black Studio. Would still be cool.

[2018-04-15 11:16] Misplon commented on #326
We're working around this at the moment: https://github.com/siteorigin/siteorigin-unwind/blob/develop/loops/loop-blog-masonry.php#L10. Having a hook would still be useful.

[2018-04-16 07:01] braamgenis commented on #519
It seems there was a bit of confusion as WordPress core widgets don't use the `admin_enqueue_scripts` action, but rather the `"admin_print_scripts-{$hook_suffix}"` action, which doesn't pass any additional arguments.

[2018-04-16 07:01] #519 closed

[2018-04-17 08:29] braamgenis commented on #250
It sounds like things are working as they should. _Row_ styles should only affect _rows_. It seems we don't currently have a way to set margins on individual cells/widgets, but we should add it if that's a commonly requested feature.

[2018-04-17 11:54] AlexGStapleton commented on #250
I agree, but this issue is more about how things currently work (everything based on row bottom margin) rather than how they should work (being the separated dedicated row and widget bottom margins).

Widget bottom margins are very commonly requested. Cells, not so much (I'm struggling to think of a request).

[2018-04-17 11:56] AlexGStapleton commented on #400
That's fine. The main thing is that the loading indicator stops as that gives the impression there's still a chance that the settings will load when the loading had already actually failed.

[2018-04-19 08:27] AlexGStapleton commented on #179
I don't know the exact version that this was introduced in, but this has been introduced.

**WP Admin > Settings > Page Builder**. Open the **General** tab and tick **Default To Page Builder Interface**

[2018-04-19 08:27] #179 closed

[2018-04-19 08:28] AlexGStapleton commented on #181
Closing as this isn't a PB issue, and it's been introduced in WB anyway.

[2018-04-19 08:28] #181 closed

[2018-04-19 08:36] AlexGStapleton commented on #238
This has been introduced.

[2018-04-19 08:36] #238 closed

[2018-04-19 08:57] AlexGStapleton commented on #390
Duplicate of #290

[2018-04-19 09:13] AlexGStapleton commented on #438
This functionality will be introduced in the next SiteOrigin Page Builder update.

[2018-04-19 09:13] #438 closed

[2018-04-19 09:14] AlexGStapleton commented on #446
This is a general issue with the widget you're using. You'll need to get in contact with the developers of this widget about [improving SiteOrigin Page Builder compatibility](https://siteorigin.com/docs/page-builder/widget-compatibility/).

[2018-04-19 09:14] #446 closed

[2018-04-19 09:27] AlexGStapleton commented on #99
With each update, we’re working on improving on general performance improvements/ optimizations in our codebase. Though as this isn’t a once off sort of feature, it’s an ongoing process. So to keep things clean and focused, we’re going to close this to make room for more issues

[2018-04-19 09:27] #99 closed

[2018-04-19 09:29] AlexGStapleton commented on #91
This is possible using the [Custom Post Type Builder](https://siteorigin.com/premium-documentation/plugin-addons/custom-post-type-builder/) functionality in [SiteOrigin Premium](https://siteorigin.com/downloads/premium/). With that said, We'll keep this in mind for future updates for the base version of SiteOrigin Page Builder.

[2018-04-19 09:29] #91 closed

[2018-04-19 09:42] AlexGStapleton commented on #48
This is possible by [filtering the row/widget options](https://siteorigin.com/docs/page-builder/hooks/custom-row-settings/) and removing the settings you don't wish to have present.

[2018-04-19 09:42] #48 closed

[2018-04-19 09:53] Misplon commented on #49
Hi guys, it doesn't look like Symple Shortcodes has been updated since Version 2.1.3 – November 8, 2016. We're pretty constrained with resources at the moment. If the developer of Symple Shortcodes would like to help out then we can try to assist. Otherwise, unfortunately we'll close this for the moment. Sorry we weren't able to attend.

[2018-04-19 09:53] #49 closed

[2018-04-19 10:12] szepeviktor commented on #99
@AlexGStapleton If you pursue performance take a look at the plugin structure of Yoast SEO and BEaver Builder.

[2018-04-19 17:12] Misplon commented on #396
Hi @LittleHamster. Please, can you let us know which caching plugin you're using. If the plugin has settings to exclude files we can hopefully document how to avoid this issue.

[2018-04-19 17:14] Misplon commented on #379
Hi @Paul-Allen. Are you still experiencing any problems with this feature? Thanks.

[2018-04-19 17:27] Misplon commented on #499
Hi everyone. Thanks for your efforts. I'm closing this as we'll refer to the issue on the Yoast repo as linked above in Braam's reply and explanation.

[2018-04-19 17:35] Misplon commented on #174
Let's not fix and defer to the flex based layout to resolve.

[2018-04-19 17:35] #174 closed

[2018-04-19 19:13] andrejarh commented on #511
Hi Alex,
Plugins on the site are:
- SO Page builder
- SO Widget Bundle
- Contact form 7
- Revolution Slider

[2018-04-20 11:34] #206 closed

[2018-04-20 11:35] AlexGStapleton commented on #511
To clarify, how are you adding the post types? Directly with PHP, or are you using a plugin/prebuilt solution?

Would it be possible for you to proceed us with access to a site where this is happening? If so, can you please email login details to support@siteorigin.com.

[2018-04-20 15:06] Misplon commented on #408
Hi @andrejarh Sorry we weren't able to reply sooner. Do you know if this bug is still occurring? We aren't currently able to replicate which is why we ask. Thanks.

[2018-04-20 15:30] AlexGStapleton commented on #414
Hi rogerlos ,

We're currently working on the conceptual stage of this issue and we're trying to work out the best way to implement this. Something that would really help us with this is if you could clarify how you would use this sort of functionality?

[2018-04-20 21:47] rogerlos commented on #414
Up front: Thanks for including as many filters as you do, it does make working with the plugin a lot easier (I have to intercept all of the formatting calls in my sites and convert your html structure to a bootstrap-friendly version, and it's not painless but not as painful as it could be).

Answer: As I recall, when I create a layout, I assign it a slug, essentially, and I would just like to be a

[2018-04-21 01:30] LittleHamster commented on #396
@Misplon
sorry this issue was submitted almost a year ago 😁
I no longer use this page builder

[2018-04-21 01:30] #396 closed

[2018-04-21 04:00] Misplon commented on #396
Thanks for the quick reply, appreciate it. All the best :)

[2018-04-22 17:40] AlexGStapleton commented on #414
Thanks - that helps a lot! :)

The one thing I'm not too sure how we're going to handle at this stage is when do we add, and do we remove the layout slug. For example, if I import a layout and remove 4 out of 6 rows, should the layout slug remain? What about if we only remove a single 1?

Hm. Maybe we should always apply the slug to the page and then the designer/developer will need reference the

[2018-04-22 18:55] rogerlos commented on #414
That's an excellent question. I'm not sure, honestly. A lot of it is on me, as a dev. If my layout is `with-adverts` and my pseudo code is something like `if ( $row_counter === 3 )` to trigger the advert row, it's probably my job to make sure the layout still has three rows, eh? I mean, at best I might hope your code might add a flag the layout has been modified, but it would be a huge task to try

[2018-04-22 19:13] AlexGStapleton commented on #414
That would be ideal, and likely be something we would do.

It would increase the save time a little bit (more so if we actually detect a layout), but outside of that there honestly wouldn't be a performance hit.

We currently allow for this via the SiteOrigin Premium [Custom Post Type Builder](https://siteorigin.com/premium-documentation/plugin-addons/custom-post-type-builder/) addon so the functi

[2018-04-22 19:42] rogerlos commented on #414
(Apologies about making this a sprawling catch-all, I'd be happy to open separate issues if you want me to.)

I believe I ended up doing it this way mainly because of the lack of slug availability for a layout. By the time I was able to examine the CSS object, several rules had been applied already to the output, but this was awhile ago and my memory is definitely sketchy here. I recall writing a

[2018-04-22 21:07] rogerlos commented on #414
This is how I would ideally (and incompletely) configure what I'm going to do with the editor. Anything not explicitly configured (or empty) would use Site Builder defaults, though there would be a way (setting boolean false) to completely remove the Site Builder default config.

[code]

[2018-04-23 07:48] AlexGStapleton opened #525 "Import/clone should generate new widget ids"
Someone reported getting an outdated content notification error when updating editor widgets cloned/exported from other pages. Upon further inspection, this appears to be as a result of the widget ids being maintained on import and clone. We should generate new widget IDs to avoid these sort of issues. That is if we aren't already.

[Slack](https://siteorigin.slack.com/archives/C02SYBBH2/p15244601

[2018-04-24 08:15] AlexGStapleton opened #526 "WooCommerce: Variation description use main product description instead of variation description"
I've received a report that since 2.6.5, that WooCommerce Variation descriptions are incorrectly duplicating the main product products description rather htan the actual variation description. This issue would be as a result of this commit https://github.com/siteorigin/siteorigin-panels/commit/0c58cc0cc4e5babd629b7fe57f9ed729c65db6b5

To fix this issue we would need to either limit the scope of pa

[2018-04-24 10:05] AlexGStapleton opened #527 "Add filter to disable all row/widget styles"
A premium user has requested the ability to disable widget styles (the entire sidebar) for a specific post type. They didn't have the ability to do this by simply removing all widget styles.

[2018-04-24 13:46] AlexGStapleton commented on #509
Hi nsrosenqvist

That's odd. Can you please send me a copy of the code you're working with so we can run some tests against it?

[2018-04-24 13:59] AlexGStapleton commented on #494
We'll make a note of this to see if this is something that can be avoided. In the meantime, I would recommend running [do_shortcode](https://developer.wordpress.org/reference/functions/do_shortcode/) against your term_description as that will directly avoid this issue and allow for the shortcodes to work without issue.

[2018-04-24 14:31] AlexGStapleton commented on #207
Hi phpbits,

Very sorry for the delay!

Do you still need assistance with this issue or were you able to find a workaround?
To answer your specific question regardless, that's definitally possible. [Here's the code](https://github.com/siteorigin/siteorigin-panels/blob/2.6.5/inc/renderer.php#L431) we use to render widgets. We've added a number of differnet filters that you should be able to use to

[2018-04-24 15:26] AlexGStapleton commented on #526
[As per this post](https://wordpress.org/support/topic/bug-in-version-2-6-5-whit-woocommerce/), this also affects the terms of service during checkout. At this stage, this is really high priority imo.

![](https://vgy.me/p7gE2Z.png)

[2018-04-24 21:10] liquida commented on #394
Hello guys

I this plugin have been outdated for a while. It haven't importanted updates in the last year

Maybe you can try whit this new mega menu https://wordpress.org/plugins/quadmenu/

[2018-04-24 22:31] nsrosenqvist commented on #509
Don't have the code anymore unfortunately, but it should be easy to test. Just create a widget instance, register the instance, try and add it from pagebuilder

[2018-04-24 22:35] nsrosenqvist commented on #509
this happens since PB stores a hash of instances and that hash is unique for each request. So when the widgets are listed in page builder the hash is the reference to the widget to insert, but on the next request when it's inserted the instance has a new hash and the reference from the selection is now not matching any registered widgets

[2018-04-25 10:16] AlexGStapleton commented on #394
The last update for Max Mega Menu was actually a month ago. Regardless, we'll make a note of your suggestion.

[2018-04-25 10:28] #526 closed

[2018-04-25 13:52] Sharsie commented on #505
@braamgenis Hello Braam, could we please reopen this issue?
The solution in #510 did not really fix the issue, it just made it individual for each editor.

To better explain:
Before when one editor created an autosave, everyone was presented with this autosave version

Now this is delegated to individual editors creating their own autosave and then being presented with this autosave even if the po

[2018-04-26 08:27] andrejarh commented on #511
The post types are defined in php.
Currently I have this page on localhost. If you want, I can send create a copy and send it over to you.

[2018-04-26 08:29] andrejarh opened #529 "PHP notice after update"
I just updated to the latest version (through wordpress.org). After update, I get this notices:

[code]

[2018-04-26 09:40] Misplon commented on #529
Thanks for reporting @andrejarh. We fixed another instance of this and somehow missed this one. Sorry for the hassle. It'll be resolved in the next update. (If this is a production site and you aren't currently troubleshooting any issues, please consider turning debug off.)

[2018-04-26 09:59] andrejarh commented on #529
It is on localhost, so no worries... :)

[2018-04-26 10:01] Misplon commented on #529
Awesome. Thanks again for the assist on this. We'll get it fixed ASAP.

[2018-04-26 10:10] andrejarh commented on #408
Currently I don't see it. But if I see it again, I will report it.

[2018-04-26 10:12] Misplon commented on #408
Super, thanks for taking a look.

[2018-04-26 10:12] #408 closed

[2018-04-26 11:37] andrejarh opened #530 "row and cell styles display issue (backend)"
There is a CSS issue in the page builder admin.css, which pushes the cell style options out of view.

This is a minor issue by itself, but because not all users know how to set cell styling (you need to click on the cell first) and now even if they click on the cell, they can't see the cell styling options.

There is the line which reads:
[code]
While it actually should be:
[code]
Here is the vide